<!-- build:layout_head --><!-- endbuild -->
  <link rel="stylesheet" href="/css/login.min.css" th:href="@{/css/login.min.css}">
</head>

<body>
  <div>
    <!--[if lte IE 9]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->
    <!-- build:header -->
    
    <!-- endbuild -->





    <div class="ai-content clearfix">
      <!-- 基本资料 -->
      <div class="ai-infolist">
        <div class="ai-infotitle">基本资料</div>
        <ul class="userinfolist">
          <li><span class="listleft">手机号码：</span><span class="listright">13629998093</span></li>
          <li><span class="listleft">公司名称：</span><span class="listright">
            <input type="text" class="userinfo-input" placeholder="输入公司名称">
          </span></li>
          <li><span class="listleft">所在城市：</span><span class="listright">
            <select name="" id="" class="userinfo-city">
              <option value="">中国</option>
            </select>
            <select name="" id="" class="userinfo-city">
              <option value="">上海</option>
            </select>
            <select name="" id="" class="userinfo-city">
              <option value="">嘉定区</option>
            </select>
          </li>
          <li><span class="listleft">工作邮箱：</span><span class="listright"><input type="text" class="userinfo-input" placeholder="输入工作邮箱"></span></li>
        </ul>
        <div class="userinfo-btn">提交</div>
      </div>
    </div>
    <!-- build:footer -->
    
    <!-- endbuild -->


  </div>

</body>

</html>