<!-- build:layout_head --><!-- endbuild -->
  <link rel="stylesheet" href="/css/universalpage.css" th:href="@{/css/universalpage.min.css}">
</head>
<body>
<div class="universal-box">
  <!-- build:header -->
  
  <!-- endbuild -->



  <div class="unworn-mainbox">
    <div class="unworn-pic">
      <img src="" alt="">
      图片替换
    </div>
    <div class="unworn-mes">
      对不起，您访问的页面出现错误了！
    </div>
    <div class="unworn-back">
      <div class="unworn-backbtn">返回</div>
    </div>
  </div>
  <!-- build:footer -->
  
  <!-- endbuild -->



</div>
</body>
</html>