<!-- build:layout_head --><!-- endbuild -->
  <link rel="stylesheet" href="/css/login.min.css" th:href="@{/css/login.min.css}">
</head>

<body>
  <!--[if lte IE 9]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->
  <!-- build:header -->
  
  <!-- endbuild -->


  <!-- 内容 -->
  <div class="ps-center-wp">
    <div class="ps-center">
      <div class="orderstate-wp clearfix no-border">
        <ul class="ft-l clearfix state-ul">
          <!-- 选中样式 添加 active-->
          <li class="ft-l active">
            <a href="javascript:;">所有订单</a>
          </li>
          <li class="ft-l">
            <a href="javascript:;">进行中的订单</a>
          </li>
          <li class="ft-l">
            <a href="javascript:;">订单完成</a>
          </li>
          <li class="ft-l">
            <a href="javascript:;">已保存需求</a>
          </li>
        </ul>
      </div>
      <!-- 空订单 -->
      <div class="empty-ct">
        <img class="empty-icon" src="/img/empty.png" th:src="@{/img/empty.png}" alt="">
        <p class="empty-say">没有找到符合条件的订单。</p>
      </div>
      <!-- 空订单 end -->
      <!-- 订单列表 -->
      <div class="ordermangament">
        <div class="odm-hd clearfix">
          <div class="left odmorder">订单</div>
          <div class="odmdesigner left">设计师</div>
          <div class="odmstate left">订单阶段</div>
          <div class="odmprice left">实付款</div>
          <div class="left odmstatus">操作状态</div>
          <div class="odmbtn-wp left">操作</div>
        </div>
      </div>
      <!-- 订单 -->
      <div class="orderingli">
        <div class="orderingli-hd">
          <span class="ordertime">2017.09.09</span>
          <span class="order-num">订单号：<span>2937649197374</span></span>
        </div>
        <div class="orderingdetail clearfix">
          <div class="imgfa ft-l">
            <img src="" alt="">
          </div>
          <div class="exhibition-wp left">
            <p class="exhibition">第二十二届中国国际涂料展涂料展涂料展涂料展涂料展涂料展涂料展涂料展涂料展</p>
            <p class="exhibitor">参展商：<span>笔克展览展示有限公司</span></p>
          </div>
          <div class="designer left">
            <p>首席设计师/工作室设计：某某某</p>               
          </div>
          <div class="step left">概念设计阶段</div>
          <!-- <div class="num left">2</div> -->
          <div class="price left">300</div>
          <ul class="left orderneed">
            <li><a href="javascript:;">等待付款</a></li>
            <li><a href="javascript:;">订单详情</a></li>
            <li><a href="javascript:;">设计需求</a></li>
          </ul>
          <div class="orderingbtn-wp right">
            <div class="oderleftime">还剩3小时</div>
            <div><a href="javascript:;" class="paynow">立即支付</a></div>
            <div><a href="javascript:;">取消订单</a></div>
          </div>
        </div>
        <div class="orderingli-bto">
          <div class="orderbto-left left"></div>
          <div class="odmstate left">施工图阶段</div>
          <div class="odmprice left">300</div>
          <div class="odmstatus left">未开启</div>
        </div>
      </div>
      <!-- 订单 end-->
      <!-- 订单 选择报价begin -->
      <div class="orderingli">
        <div class="orderingli-hd">
          <span class="ordertime">2017.09.09</span>
          <span class="order-num">订单号：<span>2937649197374</span></span>
        </div>
        <div class="orderingdetail clearfix">
          <div class="imgfa ft-l">
            <img src="" alt="">
          </div>
          <div class="exhibition-wp left">
            <p class="exhibition">第二十二届中国国际涂料展涂料展涂料展涂料展涂料展涂料展涂料展涂料展涂料展</p>
            <p class="exhibitor">参展商：<span>笔克展览展示有限公司</span></p>
          </div>
          <div class="designer left">
            <p>报价中<span class="paynum">1</span>/5</p>               
          </div>
          <div class="step left">设计图阶段</div>
          <!-- <div class="num left">2</div> -->
          <div class="price left">300</div>
          <ul class="left orderneed">
            <li><a href="javascript:;">等待设计师报价</a></li>
            <li><a href="javascript:;">订单详情</a></li>
            <li><a href="javascript:;">设计需求</a></li>
          </ul>
          <div class="orderingbtn-wp right">
            <div class="oderleftime"></div>
            <div><a href="javascript:;" class="paynow">结束报价</a></div>
            <div><a href="javascript:;">取消订单</a></div>
          </div>
        </div>
        <div class="orderingli-bto">
          <div class="orderbto-left left"></div>
          <div class="odmstate left">施工图阶段</div>
          <div class="odmprice left"></div>
          <div class="odmstatus left">未开启</div>
        </div>
      </div>
      <!-- 订单 选择报价end-->
      <!-- 订单 选择报价并支付begin -->
      <div class="orderingli">
        <div class="orderingli-hd">
          <span class="ordertime">2017.09.09</span>
          <span class="order-num">订单号：<span>2937649197374</span></span>
        </div>
        <div class="orderingdetail clearfix">
          <div class="imgfa ft-l">
            <img src="" alt="">
          </div>
          <div class="exhibition-wp left">
            <p class="exhibition">第二十二届中国国际涂料展涂料展涂料展涂料展涂料展涂料展涂料展涂料展涂料展</p>
            <p class="exhibitor">参展商：<span>笔克展览展示有限公司</span></p>
          </div>
          <div class="designer left">
            <p>报价中<span class="paynum">4</span>/5</p>               
          </div>
          <div class="step left">设计图阶段</div>
          <!-- <div class="num left">2</div> -->
          <div class="price left">300</div>
          <ul class="left orderneed">
            <li><a href="javascript:;">选择报价并支付</a></li>
            <li><a href="javascript:;">订单详情</a></li>
            <li><a href="javascript:;">设计需求</a></li>
          </ul>
          <div class="orderingbtn-wp right">
            <div class="oderleftime">还剩3小时</div>
            <div><a href="javascript:;" class="paynow">选择报价</a></div>
            <div><a href="javascript:;">取消订单</a></div>
          </div>
        </div>
        <div class="orderingli-bto">
          <div class="orderbto-left left"></div>
          <div class="odmstate left">施工图阶段</div>
          <div class="odmprice left"></div>
          <div class="odmstatus left">未开启</div>
        </div>
      </div>
      <!-- 订单 选择报价并支付end-->
      <!-- 订单 关闭begin -->
      <div class="orderingli">
        <div class="orderingli-hd">
          <span class="ordertime">2017.09.09</span>
          <span class="order-num">订单号：<span>2937649197374</span></span>
        </div>
        <div class="orderingdetail clearfix">
          <div class="imgfa ft-l">
            <img src="" alt="">
          </div>
          <div class="exhibition-wp left">
            <p class="exhibition">第二十二届中国国际涂料展涂料展涂料展涂料展涂料展涂料展涂料展涂料展涂料展</p>
            <p class="exhibitor">参展商：<span>笔克展览展示有限公司</span></p>
          </div>
          <div class="designer left">
            <p>报价中<span class="paynum">4</span>/5</p>               
          </div>
          <div class="step left">设计图阶段</div>
          <!-- <div class="num left">2</div> -->
          <div class="price left">300</div>
          <ul class="left orderneed">
            <li><a href="javascript:;">订单关闭</a></li>
            <li><a href="javascript:;">订单详情</a></li>
            <li><a href="javascript:;">设计需求</a></li>
          </ul>
          <div class="orderingbtn-wp right">
            <div class="oderleftime"></div>
            <!-- <div><a href="javascript:;" class="paynow"></a></div> -->
            <div><a href="javascript:;"></a></div>
          </div>
        </div>
        <div class="orderingli-bto">
          <div class="orderbto-left left"></div>
          <div class="odmstate left">施工图阶段</div>
          <div class="odmprice left"></div>
          <div class="odmstatus left">未开启</div>
        </div>
      </div>
      <!-- 订单 关闭end-->
      <!-- 订单 等待设计图上传 begin -->
      <div class="orderingli">
        <div class="orderingli-hd">
          <span class="ordertime">2017.09.09</span>
          <span class="order-num">订单号：<span>2937649197374</span></span>
        </div>
        <div class="orderingdetail clearfix">
          <div class="imgfa ft-l">
            <img src="" alt="">
          </div>
          <div class="exhibition-wp left">
            <p class="exhibition">第二十二届中国国际涂料展涂料展涂料展涂料展涂料展涂料展涂料展涂料展涂料展</p>
            <p class="exhibitor">参展商：<span>笔克展览展示有限公司</span></p>
          </div>
          <div class="designer left">
            <p>王小二</p>               
          </div>
          <div class="step left">设计图阶段</div>
          <!-- <div class="num left">2</div> -->
          <div class="price left">300</div>
          <ul class="left orderneed">
            <li><a href="javascript:;">等待设计图上传</a></li>
            <li><a href="javascript:;">订单详情</a></li>
            <li><a href="javascript:;">设计需求</a></li>
          </ul>
          <div class="orderingbtn-wp right">
            <div class="oderleftime"></div>
            <!-- <div><a href="javascript:;" class="paynow"></a></div> -->
            <div><a href="javascript:;"></a></div>
          </div>
        </div>
        <div class="orderingli-bto">
          <div class="orderbto-left left"></div>
          <div class="odmstate left">施工图阶段</div>
          <div class="odmprice left">300</div>
          <div class="odmstatus left">未开启</div>
        </div>
      </div>
      <!-- 订单 等待设计图上传 end-->
      <!-- 订单 等待收稿 begin -->
      <div class="orderingli">
        <div class="orderingli-hd">
          <span class="ordertime">2017.09.09</span>
          <span class="order-num">订单号：<span>2937649197374</span></span>
        </div>
        <div class="orderingdetail clearfix">
          <div class="imgfa ft-l">
            <img src="" alt="">
          </div>
          <div class="exhibition-wp left">
            <p class="exhibition">第二十二届中国国际涂料展涂料展涂料展涂料展涂料展涂料展涂料展涂料展涂料展</p>
            <p class="exhibitor">参展商：<span>笔克展览展示有限公司</span></p>
          </div>
          <div class="designer left">
            <p>王小二</p>               
          </div>
          <div class="step left">设计图阶段</div>
          <!-- <div class="num left">2</div> -->
          <div class="price left">300</div>
          <ul class="left orderneed">
            <li><a href="javascript:;">等待设计图上传</a></li>
            <li><a href="javascript:;">订单详情</a></li>
            <li><a href="javascript:;">设计需求</a></li>
          </ul>
          <div class="orderingbtn-wp right">
            <div class="oderleftime">还剩3小时</div>
            <div><a href="javascript:;" class="paynow">确认收稿</a></div>
            <div><a href="javascript:;">申请改稿</a></div>
          </div>
        </div>
        <div class="orderingli-bto">
          <div class="orderbto-left left"></div>
          <div class="odmstate left">施工图阶段</div>
          <div class="odmprice left">300</div>
          <div class="odmstatus left">未开启</div>
        </div>
      </div>
      <!-- 订单 等待收稿 end-->
      <!-- 订单 等待修改稿上传 begin -->
      <div class="orderingli">
        <div class="orderingli-hd">
          <span class="ordertime">2017.09.09</span>
          <span class="order-num">订单号：<span>2937649197374</span></span>
        </div>
        <div class="orderingdetail clearfix">
          <div class="imgfa ft-l">
            <img src="" alt="">
          </div>
          <div class="exhibition-wp left">
            <p class="exhibition">第二十二届中国国际涂料展涂料展涂料展涂料展涂料展涂料展涂料展涂料展涂料展</p>
            <p class="exhibitor">参展商：<span>笔克展览展示有限公司</span></p>
          </div>
          <div class="designer left">
            <p>王小二</p>               
          </div>
          <div class="step left">设计图阶段</div>
          <!-- <div class="num left">2</div> -->
          <div class="price left">300+100x1</div>
          <ul class="left orderneed">
            <li><a href="javascript:;">等待修改稿上传</a></li>
            <li><a href="javascript:;">订单详情</a></li>
            <li><a href="javascript:;">设计需求</a></li>
          </ul>
          <div class="orderingbtn-wp right">
            <div class="oderleftime"></div>
            <!-- <div><a href="javascript:;" class="paynow">确认收稿</a></div> -->
            <div><a href="javascript:;"></a></div>
          </div>
        </div>
        <div class="orderingli-bto">
          <div class="orderbto-left left"></div>
          <div class="odmstate left">施工图阶段</div>
          <div class="odmprice left">300</div>
          <div class="odmstatus left">未开启</div>
        </div>
      </div>
      <!-- 订单 等待修改稿上传 end-->
      <!-- 订单 等待收稿 begin -->
      <div class="orderingli">
        <div class="orderingli-hd">
          <span class="ordertime">2017.09.09</span>
          <span class="order-num">订单号：<span>2937649197374</span></span>
        </div>
        <div class="orderingdetail clearfix">
          <div class="imgfa ft-l">
            <img src="" alt="">
          </div>
          <div class="exhibition-wp left">
            <p class="exhibition">第二十二届中国国际涂料展涂料展涂料展涂料展涂料展涂料展涂料展涂料展涂料展</p>
            <p class="exhibitor">参展商：<span>笔克展览展示有限公司</span></p>
          </div>
          <div class="designer left">
            <p>王小二</p>               
          </div>
          <div class="step left">设计图阶段</div>
          <!-- <div class="num left">2</div> -->
          <div class="price left">300+100x1</div>
          <ul class="left orderneed">
            <li><a href="javascript:;">等待收稿</a></li>
            <li><a href="javascript:;">订单详情</a></li>
            <li><a href="javascript:;">设计需求</a></li>
          </ul>
          <div class="orderingbtn-wp right">
            <div class="oderleftime">还剩3小时</div>
            <div><a href="javascript:;" class="paynow">确认收稿</a></div>
            <div><a href="javascript:;">申请改稿</a></div>
          </div>
        </div>
        <div class="orderingli-bto">
          <div class="orderbto-left left"></div>
          <div class="odmstate left">施工图阶段</div>
          <div class="odmprice left">300</div>
          <div class="odmstatus left">未开启</div>
        </div>
      </div>
      <!-- 订单 等待收稿 end-->
      <!-- 订单 开具发票 begin -->
      <div class="orderingli">
        <div class="orderingli-hd">
          <span class="ordertime">2017.09.09</span>
          <span class="order-num">订单号：<span>2937649197374</span></span>
        </div>
        <div class="orderingdetail clearfix">
          <div class="imgfa ft-l">
            <img src="" alt="">
          </div>
          <div class="exhibition-wp left">
            <p class="exhibition">第二十二届中国国际涂料展涂料展涂料展涂料展涂料展涂料展涂料展涂料展涂料展</p>
            <p class="exhibitor">参展商：<span>笔克展览展示有限公司</span></p>
          </div>
          <div class="designer left">
            <p>王小二</p>               
          </div>
          <div class="step left">设计图阶段</div>
          <!-- <div class="num left">2</div> -->
          <div class="price left">300+100x1</div>
          <ul class="left orderneed">
            <li><a href="javascript:;">订单完成</a></li>
            <li><a href="javascript:;">订单详情</a></li>
            <li><a href="javascript:;">设计需求</a></li>
          </ul>
          <div class="orderingbtn-wp right">
            <!-- <div class="oderleftime">还剩3小时</div> -->
            <!-- <div><a href="javascript:;" class="paynow">确认收稿</a></div> -->
            <div class="forpay"><a href="javascript:;">开具发票</a></div>
          </div>
        </div>
        <div class="orderingli-bto">
          <div class="orderbto-left left"></div>
          <div class="odmstate left">施工图阶段</div>
          <div class="odmprice left">300</div>
          <div class="odmstatus left">未开启</div>
        </div>
      </div>
      <!-- 订单 开具发票 end-->
      <!-- 施工图阶段 -->
      <!-- 订单 等待支付 begin -->
      <div class="orderingli">
        <div class="orderingli-hd">
          <span class="ordertime">2017.09.09</span>
          <span class="order-num">订单号：<span>2937649197374</span></span>
        </div>
        <div class="orderingdetail clearfix">
          <div class="imgfa ft-l">
            <img src="" alt="">
          </div>
          <div class="exhibition-wp left">
            <p class="exhibition">第二十二届中国国际涂料展涂料展涂料展涂料展涂料展涂料展涂料展涂料展涂料展</p>
            <p class="exhibitor">参展商：<span>笔克展览展示有限公司</span></p>
          </div>
          <div class="designer left">
            <p>王小二</p>               
          </div>
          <div class="step left">施工图阶段</div>
          <!-- <div class="num left">2</div> -->
          <div class="price left">300</div>
          <ul class="left orderneed">
            <li><a href="javascript:;">等待支付</a></li>
            <li><a href="javascript:;">订单详情</a></li>
            <li><a href="javascript:;">设计需求</a></li>
          </ul>
          <div class="orderingbtn-wp right">
            <div class="oderleftime">还剩3小时</div>
            <div><a href="javascript:;" class="paynow">确认付款</a></div>
            <div><a href="javascript:;">取消付款</a></div>
          </div>
        </div>
        <div class="orderingli-bto">
          <div class="orderbto-left left"></div>
          <div class="odmstate left">设计图阶段</div>
          <div class="odmprice left">300+100x1</div>
          <div class="odmstatus left">已完成</div>
        </div>
      </div>
      <!-- 订单 等待支付 end-->
      <!-- 订单 等待施工图上传 begin -->
      <div class="orderingli">
        <div class="orderingli-hd">
          <span class="ordertime">2017.09.09</span>
          <span class="order-num">订单号：<span>2937649197374</span></span>
        </div>
        <div class="orderingdetail clearfix">
          <div class="imgfa ft-l">
            <img src="" alt="">
          </div>
          <div class="exhibition-wp left">
            <p class="exhibition">第二十二届中国国际涂料展涂料展涂料展涂料展涂料展涂料展涂料展涂料展涂料展</p>
            <p class="exhibitor">参展商：<span>笔克展览展示有限公司</span></p>
          </div>
          <div class="designer left">
            <p>王小二</p>               
          </div>
          <div class="step left">施工图阶段</div>
          <!-- <div class="num left">2</div> -->
          <div class="price left">300</div>
          <ul class="left orderneed">
            <li><a href="javascript:;">等待施工图上传</a></li>
            <li><a href="javascript:;">订单详情</a></li>
            <li><a href="javascript:;">设计需求</a></li>
          </ul>
          <div class="orderingbtn-wp right">
            <div class="oderleftime"></div>
            <!-- <div><a href="javascript:;" class="paynow">确认付款</a></div> -->
            <div><a href="javascript:;"></a></div>
          </div>
        </div>
        <div class="orderingli-bto">
          <div class="orderbto-left left"></div>
          <div class="odmstate left">设计图阶段</div>
          <div class="odmprice left">300+100x1</div>
          <div class="odmstatus left">已完成</div>
        </div>
      </div>
      <!-- 订单 等待施工图上传 end-->
      <!-- 订单 等待收稿 begin -->
      <div class="orderingli">
        <div class="orderingli-hd">
          <span class="ordertime">2017.09.09</span>
          <span class="order-num">订单号：<span>2937649197374</span></span>
        </div>
        <div class="orderingdetail clearfix">
          <div class="imgfa ft-l">
            <img src="" alt="">
          </div>
          <div class="exhibition-wp left">
            <p class="exhibition">第二十二届中国国际涂料展涂料展涂料展涂料展涂料展涂料展涂料展涂料展涂料展</p>
            <p class="exhibitor">参展商：<span>笔克展览展示有限公司</span></p>
          </div>
          <div class="designer left">
            <p>王小二</p>               
          </div>
          <div class="step left">施工图阶段</div>
          <!-- <div class="num left">2</div> -->
          <div class="price left">300</div>
          <ul class="left orderneed">
            <li><a href="javascript:;">等待收稿</a></li>
            <li><a href="javascript:;">订单详情</a></li>
            <li><a href="javascript:;">设计需求</a></li>
          </ul>
          <div class="orderingbtn-wp right">
            <div class="oderleftime">还剩3小时</div>
            <div><a href="javascript:;" class="paynow">确认收稿</a></div>
            <div><a href="javascript:;"></a></div>
          </div>
        </div>
        <div class="orderingli-bto">
          <div class="orderbto-left left"></div>
          <div class="odmstate left">设计图阶段</div>
          <div class="odmprice left">300+100x1</div>
          <div class="odmstatus left">已完成</div>
        </div>
      </div>
      <!-- 订单 等待收稿 end-->
      <!-- 订单 开具发票 begin -->
      <div class="orderingli">
        <div class="orderingli-hd">
          <span class="ordertime">2017.09.09</span>
          <span class="order-num">订单号：<span>2937649197374</span></span>
        </div>
        <div class="orderingdetail clearfix">
          <div class="imgfa ft-l">
            <img src="" alt="">
          </div>
          <div class="exhibition-wp left">
            <p class="exhibition">第二十二届中国国际涂料展涂料展涂料展涂料展涂料展涂料展涂料展涂料展涂料展</p>
            <p class="exhibitor">参展商：<span>笔克展览展示有限公司</span></p>
          </div>
          <div class="designer left">
            <p>王小二</p>               
          </div>
          <div class="step left">施工图阶段</div>
          <!-- <div class="num left">2</div> -->
          <div class="price left">300</div>
          <ul class="left orderneed">
            <li><a href="javascript:;">订单完成</a></li>
            <li><a href="javascript:;">订单详情</a></li>
            <li><a href="javascript:;">设计需求</a></li>
          </ul>
          <div class="orderingbtn-wp right">
            <!-- <div class="oderleftime">还剩3小时</div> -->
            <!-- <div><a href="javascript:;" class="paynow">确认收稿</a></div> -->
            <div class="forpay"><a href="javascript:;">开具发票</a></div>
          </div>
        </div>
        <div class="orderingli-bto">
          <div class="orderbto-left left"></div>
          <div class="odmstate left">设计图阶段</div>
          <div class="odmprice left">300+100x1</div>
          <div class="odmstatus left">已完成</div>
        </div>
      </div>
      <!-- 订单 开具发票 end-->
      <!-- 订单 已保存需求 begin -->
      <div class="orderingli">
        <div class="orderingli-hd">
          <span class="ordertime">2017.09.09</span>
        </div>
        <div class="orderingdetail clearfix">
          <div class="imgfa ft-l">
            <img src="" alt="">
          </div>
          <div class="exhibition-wp left">
            <p class="exhibition">第二十二届中国国际涂料展涂料展涂料展涂料展涂料展涂料展涂料展涂料展涂料展</p>
            <p class="exhibitor">参展商：<span>笔克展览展示有限公司</span></p>
          </div>
          <div class="designer left">
            <p></p>               
          </div>
          <div class="step left"></div>
          <!-- <div class="num left">2</div> -->
          <div class="price left"></div>
          <ul class="left orderneed">
            <li><a href="javascript:;"></a></li>
            <li><a href="javascript:;">未发布</a></li>
            <li><a href="javascript:;"></a></li>
          </ul>
          <div class="orderingbtn-wp right">
            <div class="oderleftime"></div>
            <div><a href="javascript:;" class="paynow">继续编辑</a></div>
            <div><a href="javascript:;">删除</a></div>
          </div>
        </div>
      </div>
      <!-- 订单 已保存需求 end-->
    </div>
  </div>
  <!-- 内容end -->
  <!-- build:footer -->
  
  <!-- endbuild -->


  <!-- build:layout_js -->
  
  <!-- endbuild -->


</body>

</html>