<!-- build:layout_head --><!-- endbuild -->
  <link rel="stylesheet" href="../../css/parsley.min.css" th:href="@{/css/parsley.min.css}">
  <link rel="stylesheet" href="../../../css/designer.min.css" th:href="{/css/designer.min.css}">
</head>

<body>
  <div class="e3-wrap">
    <!-- build:header -->
    
    <!-- endbuild -->


    <!-- 所有样式前缀加  od-  -->
    <div class="od-contentbox clearfix">
      <div class="od-nav">
        <span class="nav-prve">抢单中心</span>&gt;
        <span class="nav-next">订单详情</span>&gt;
        <span class="nav-next">订单报价</span>
      </div>
      <div class="pr-box pr-succbox">
        <div class="pr-succ-mainbox">
          <span class="pr-succimg">
            <img src="../../../img/success.png" th:src="{@{/img/success.png}" alt="">
          </span>
          <div class="pr-succmes">
            <span class="pr-succmes-title">您的报价已发布成功！</span>
            <span class="pr-succmes-status">可以在
              <i>订单管理</i>中查询订单进度。</span>
          </div>
        </div>
        <div class="pr-success-btn">
          <span class="status">查看订单进度</span>
          <span class="back">返回抢单列表</span>
        </div>
      </div>
    </div>
    <!-- build:footer -->
    
    <!-- endbuild -->


  </div>
  <!-- build:layout_js -->
  
  <!-- endbuild -->


</body>

</html>