<!-- build:layout_head --><!-- endbuild -->
  <link rel="stylesheet" href="../../../css/designer.min.css" th:href="@{/css/designer.min.css}">
</head>

<body>
  <!-- build:header -->
  
  <!-- endbuild -->


  <div class="ps-center-wp">
    <div class="ps-center">
      <div class="ps-head clearfix">
        <img class="design-photo left" src="../../img/empty.png" th:href="@{/img/empty.png}" alt="">
        <div class="left">
          <p class="designer-name">张阿三</p>
          <p class="designer-id">ID：2565653897</p>
        </div>
        <div class="right editinfo">
          编辑资料 >
        </div>
      </div>
      <div class="orderstate-wp clearfix">
        <ul class="clearfix state-ul">
          <li class="left">
            <a href="javascript:;">抢单中心
              <span class="ordernuming">8</span>
            </a>
          </li>
          <li class="left">
            <a href="javascript:;">进行中的订单
              <span class="ordernum">8</span>
            </a>
          </li>
          <li class="left">
            <a href="javascript:;">订单完成
              <span class="ordernumed">8</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="content-wp mt-2">
    <!-- 抢单中心 加类名bgcordering 进行中的订单去除bgcordering -->
    <div>
      <div class="orderinghd bgcordering clearfix">
        <span class="title left">抢单中心
          <span class="orderingnum">8</span>
        </span>
        <a class="right seeall-btn" href="javascript:;">查看全部 &gt;</a>
      </div>
      <div class="ds-grab-menu">
        <ul class="ds-grab-top">
          <li class="order">订单</li>
          <li class="status">设计阶段</li>
          <li class="time">交稿时间</li>
          <li class="detail">详情</li>
          <li class="operate">操作</li>
        </ul>
      </div>
      <div class="ds-grab-main clearfix">
        <!-- 抢单列表 begin -->
        <div class="ds-grab-list">
          <div class="ds-grab-title">
            <span class="ds-grab-num1">2017.09.09</span>
            <span class="ds-grab-num2">订单号：2937649197374</span>
          </div>
          <div class="ds-grabdte">
            <ul>
              <li class="img">
                <img src="../../../img/success.png" alt="">
              </li>
              <li class="mainname">
                <span>第二十二届中国国际涂料展涂料展涂料展涂料展涂料展涂料展涂料展涂料展涂料展</span>
                <span>参展商：笔克展览展示有限公司克展览展示有限公司</span>
              </li>
              <li class="mainpic">
                <span>设计图</span>
                <span>施工图</span>
              </li>
              <li class="maintime">
                <span>2017年11月23日</span>
                <span>2017年12月23日</span>
              </li>
              <li class="maindte">
                <span>4m x 5m</span>
                <span>预算：30,000</span>
                <span>设计需求</span>
              </li>
              <li class="maincheck">
                <span>还剩2天23小时</span>
                <span>立即报价</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="ds-grab-list">
          <div class="ds-grab-title">
            <span class="ds-grab-num1">2017.09.09</span>
            <span class="ds-grab-num2">订单号：2937649197374</span>
          </div>
          <div class="ds-grabdte">
            <ul>
              <li class="img">
                <img src="../../../img/success.png" alt="">
              </li>
              <li class="mainname">
                <span>第二十二届中国国际涂料展涂料展涂料展涂料展涂料展涂料展涂料展涂料展涂料展</span>
                <span>参展商：笔克展览展示有限公司克展览展示有限公司</span>
              </li>
              <li class="mainpic">
                <span>设计图</span>
                <span>施工图</span>
              </li>
              <li class="maintime">
                <span>2017年11月23日</span>
                <span>2017年12月23日</span>
              </li>
              <li class="maindte">
                <span>4m x 5m</span>
                <span>预算：30,000</span>
                <span>设计需求</span>
              </li>
              <li class="maincheck">
                <span>还剩2天23小时</span>
                <span>立即报价</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="ds-grab-list">
          <div class="ds-grab-title">
            <span class="ds-grab-num1">2017.09.09</span>
            <span class="ds-grab-num2">订单号：2937649197374</span>
          </div>
          <div class="ds-grabdte">
            <ul>
              <li class="img">
                <img src="../../../img/success.png" alt="">
              </li>
              <li class="mainname">
                <span>第二十二届中国国际涂料展涂料展涂料展涂料展涂料展涂料展涂料展涂料展涂料展</span>
                <span>参展商：笔克展览展示有限公司克展览展示有限公司</span>
              </li>
              <li class="mainpic">
                <span>设计图</span>
                <span>施工图</span>
              </li>
              <li class="maintime">
                <span>2017年11月23日</span>
                <span>2017年12月23日</span>
              </li>
              <li class="maindte">
                <span>4m x 5m</span>
                <span>预算：30,000</span>
                <span>设计需求</span>
              </li>
              <li class="maincheck">
                <span>还剩2天23小时</span>
                <span>立即报价</span>
              </li>
            </ul>
          </div>
        </div>
        <!-- 抢单列表 end -->
        <!-- 抢单中心 空 -->
        <div class="ds-empty-ct">
          <img class="ds-empty-icon" src="../../../img/empty.png" th:src="@{/img/empty.png}" alt="">
          <p class="ds-empty-say">没有找到符合条件的订单。</p>
        </div>
        <!-- 抢单中心 空 end -->
      </div>
    </div>
    <!-- 进行中订单 begin -->
    <div>
      <div class="orderinghd clearfix">
        <span class="title left">进行中的订单
          <span class="orderingnum">8</span>
        </span>
        <a class="right seeall-btn" href="javascript:;">查看全部 &gt;</a>
      </div>
      <div class="ds-grab-menu">
        <ul class="ds-grab-top">
          <li class="order">订单</li>
          <li class="status">设计阶段</li>
          <li class="time">交稿时间</li>
          <li class="detail">详情</li>
          <li class="operate">操作</li>
        </ul>
      </div>
      <!-- 进行中的订单 立即上传 begin -->
      <div class="orderingli orderlist">
        <div class="orderingli-hd">
          <span class="ordertime">2017.09.09</span>
          <span class="order-num">订单号：
            <span>2937649197374</span>
          </span>
        </div>
        <div class="orderingdetail clearfix">
          <div class="imgfa ft-l">
            <img src="" alt="">
          </div>
          <div class="exhibition-wp left">
            <p class="exhibition">第二十二届中国国际涂料展涂料展涂料展涂料展涂料展涂料展涂料展涂料展涂料展</p>
            <p class="exhibitor">参展商：
              <span>笔克展览展示有限公司</span>
            </p>
            <p class="dte">
              <span class="mr-area">面积4m x 5m</span>
              <span>预算：30,000</span>
            </p>
          </div>
          <div class="step left">设计图阶段</div>
          <div class="designer left">
            <p>2017年10月28日</p>
          </div>
          <div class="price left">¥300</div>
          <ul class="left orderneed">
            <li>
              <a href="javascript:;">等待设计图上传</a>
            </li>
            <li>
              <a href="javascript:;">订单详情</a>
            </li>
            <li>
              <a href="javascript:;">设计需求</a>
            </li>
          </ul>
          <div class="orderingbtn-wp right">
            <div class="mt-3">
              <a href="javascript:;" class="paynow">立即上传</a>
            </div>
          </div>
        </div>
        <div class="orderingli-bto">
          <div class="orderbto-left left"></div>
          <div class="odmstate left">施工图阶段</div>
          <div class="odmprice left">2017年12月28日</div>
          <div class="odmstatus left"></div>
          <div class="odmstatus left">未开启</div>
          <div class="odmlast left"></div>
        </div>
      </div>
      <!-- 进行中的订单end-->
      <!-- 进行中的订单 等待对方收稿 begin -->
      <div class="orderingli orderlist">
        <div class="orderingli-hd">
          <span class="ordertime">2017.09.09</span>
          <span class="order-num">订单号：
            <span>2937649197374</span>
          </span>
        </div>
        <div class="orderingdetail clearfix">
          <div class="imgfa ft-l">
            <img src="" alt="">
          </div>
          <div class="exhibition-wp left">
            <p class="exhibition">第二十二届中国国际涂料展涂料展涂料展涂料展涂料展涂料展涂料展涂料展涂料展</p>
            <p class="exhibitor">参展商：
              <span>笔克展览展示有限公司</span>
            </p>
            <p class="dte">
              <span class="mr-area">面积4m x 5m</span>
              <span>预算：30,000</span>
            </p>
          </div>
          <div class="step left">设计图阶段</div>
          <div class="designer left">
            <p>2017年10月28日</p>
          </div>
          <div class="price left">¥300</div>
          <ul class="left orderneed">
            <li>
              <a href="javascript:;">等待设计图上传</a>
            </li>
            <li>
              <a href="javascript:;">订单详情</a>
            </li>
            <li>
              <a href="javascript:;">设计需求</a>
            </li>
          </ul>
          <div class="orderingbtn-wp right">
          </div>
        </div>
        <div class="orderingli-bto">
          <div class="orderbto-left left"></div>
          <div class="odmstate left">施工图阶段</div>
          <div class="odmprice left">2017年12月28日</div>
          <div class="odmstatus left"></div>
          <div class="odmstatus left">未开启</div>
          <div class="odmlast left"></div>
        </div>
      </div>
      <!-- 进行中的订单end-->
    </div>
  </div>
  <!-- build:footer -->
  
  <!-- endbuild -->


  <!-- build:layout_js -->
  
  <!-- endbuild -->


</body>

</html>