<!-- build:layout_head --><!-- endbuild -->
  <link rel="stylesheet" href="../../../css/designer.min.css" th:href="@{/css/designer.min.css}">
</head>

<body>
  <!--[if lte IE 9]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
<![endif]-->
  <!-- 头部 -->
  <!-- build:header -->
  
  <!-- endbuild -->


  <!-- 头部end -->
  <!-- 内容 -->
  <div class="ps-center-wp">
    <div class="ps-center">
      <div class="ps-head clearfix">
        <img class="design-photo left" src="../../img/empty.png" alt="">
        <div class="left">
          <p class="designer-name">张阿三</p>
          <p class="designer-id">ID：2565653897</p>
        </div>
        <div class="right editinfo">
            编辑资料 >
        </div>
      </div>
      <div class="orderstate-wp clearfix">
        <ul class="clearfix state-ul">
          <li class="left">
            <a href="javascript:;">抢单中心</a>
          </li>
          <li class="left">
            <a href="javascript:;">进行中的订单</a>
          </li>
          <li class="left">
            <a href="javascript:;">订单完成</a>
          </li>
        </ul>
      </div>
      <!-- 个人中心-审核中 -->
      <div class="empty-ct">
        <img class="empty-icon" src="../../img/empty.png" th:src="@{/img/empty.png}" alt="">
        <!-- <p class="empty-say">目前您还没有通过平台认证审核，认证后您即将可以开始抢单报价。</p> -->
        <!-- <a href="javascript:;" class="return-index">返回平台首页</a> -->
        <p class="empty-say">很抱歉，您的资料审核未通过。</p>
        <a href="javascript:;" class="return-index">去修改并重新提交</a>
      </div>
      <!-- 个人中心-审核中 -->
    </div>
  </div>
  <!-- 内容end -->
  <!-- build:footer -->
  
  <!-- endbuild -->


  <!-- build:layout_js -->
  
  <!-- endbuild -->


</body>

</html>