<!-- build:layout_head --><!-- endbuild -->
  <link rel="stylesheet" href="../../../css/designer.min.css" th:href="@{/css/designer.min.css}">
</head>

<body>
  <!-- build:header -->
  
  <!-- endbuild -->


  <div class="content-wp pdt-12">
    <div class="standard-wp">
      <p class="standard-title">
        <span class="settlement">稿酬结算</span>
        <span class="symbol">&gt;</span>查看稿酬定价说明</p>
      <p class="standardtitle">E3入驻设计师稿酬定价标准说明</p>
      <ul class="standardtable">
        <li class="tablehd">
          <span class="type">图纸类型</span>
          <span class="pricestandard">设计费用结算标准</span>
        </li>
        <li>
          <span class="type">面积</span>
          <span class="area">18-36 平方米</span>
          <span class="area">37-54 平方米</span>
          <span class="area">55-81 平方米</span>
          <span class="remarks">备注</span>
        </li>
        <li>
          <span class="type">初步设计</span>
          <span class="area">10 元/平方</span>
          <span class="area">9 元/平方</span>
          <span class="area">8 元/平方</span>
          <span class="remarks">设计费用以双方最终协议价格为准</span>
        </li>
        <li>
          <span class="type">深化设计</span>
          <span class="area">100 元/次</span>
          <span class="area">100 元/次</span>
          <span class="area">100 元/次</span>
          <span class="remarks">前2次修改免费，第3次修改计费</span>
        </li>
        <li>
          <span class="type">施工图</span>
          <span class="area">10 元/平方</span>
          <span class="area">10 元/平方</span>
          <span class="area">10 元/平方</span>
          <span class="remarks"></span>
        </li>
      </ul>
      <p class="notice">* 如有特殊案例设计费用以双方最终协议价格为准。</p>
      <p class="notice">* 以上价格皆为税前价格</p>
    </div>
  </div>
  <!-- build:footer -->
  
  <!-- endbuild -->


  <!-- build:layout_js -->
  
  <!-- endbuild -->


</body>

</html>