<!-- build:layout_head --><!-- endbuild -->
  <link rel="stylesheet" href="../../../css/designer.min.css" th:href="@{/css/designer.min.css}">
</head>

<body>
  <div>
    <!-- build:header -->
    
    <!-- endbuild -->


    <div class="ai-content clearfix">
      <!-- 基本资料 -->
      <div class="ai-infolist">
        <div class="ai-infotitle">基本资料</div>
        <div class="designer-infopic">
          <div class="img">
            <img src="../../../img/designerinfo.png" th:src="@{/img/designerinfo.png}" alt="">
          </div>
          <div class="info">
            <ul>
              <li class="name">
                <span>张阿三</span>
                <img class="idpng" src="../../../img/id.png" th:src="@{/img/id.png}" alt="">
              </li>
              <li class="id">ID：
                <span>2565653897</span>
              </li>
            </ul>
          </div>
        </div>
        <ul class="ai-baseinfolist">
          <li>
            <span>上海市嘉定区</span>
          </li>
          <li>
            <span>手机号码：</span>
            <span>13526668901</span>
          </li>
          <li>
            <span>社交账号：</span>
            <span>QQ2534443214</span>
          </li>
          <li>
            <span>邮箱：</span>
            <span>jinmimy@e3-expo.com</span>
          </li>
          <li>
            <span>入驻时间：</span>
            <span>2017/07/08</span>
          </li>
          <li>
            <span>工作年限：</span>
            <span>10-15年</span>
          </li>
        </ul>
      </div>
      <!-- 收款账户 -->
      <div class="ai-infolist">
        <div class="ai-infotitle">收款账户</div>
        <ul class="ai-acinfolist">
          <li>
            <span>户主姓名：</span>
            <span>张**</span>
            <span>开户行：</span>
            <span>招商银行</span>
          </li>
          <li>
            <span>银行账户：</span>
            <span>8601 0578 5894 2368 8748</span>
            <span>所在支行：</span>
            <span>招商银行嘉定支行</span>
          </li>
        </ul>
      </div>
      <!-- 代表作品 -->
      <div class="ai-infolist">
        <div class="ai-infotitle">代表作品</div>
        <div class="ai-works">
          <ul>
            <li>
              <span>
                <img src="../../../img/36_02_1.jpg" alt="">
              </span>
              <span>
                <img src="../../../img/36_02_1.jpg" alt="">
              </span>
            </li>
            <li>
              <span>
                <img src="../../../img/36_02_1.jpg" alt="">
              </span>
              <span>
                <img src="../../../img/36_02_1.jpg" alt="">
              </span>
            </li>
            <li>
              <span>
                <img src="../../../img/36_02_1.jpg" alt="">
              </span>
              <span>
                <img src="../../../img/36_02_1.jpg" alt="">
              </span>
            </li>
            <li>
              <span>
                <img src="../../../img/36_02_1.jpg" alt="">
              </span>
              <span>
                <img src="../../../img/36_02_1.jpg" alt="">
              </span>
            </li>
          </ul>
        </div>
      </div>
      <!-- 身份证资料 -->
      <div class="ai-infolist">
        <div class="ai-infotitle">身份证资料</div>
        <div class="des-idcard">
          <ul>
            <li>
              <span class="name">身份证正面：</span>
              <span>
                <img src="../../../img/36_02_1.jpg" alt="">
              </span>
            </li>
            <li>
              <span class="name">身份证反面：</span>
              <span>
                <img src="../../../img/36_02_1.jpg" alt="">
              </span>
            </li>
          </ul>
        </div>
      </div>
      <!-- 其他资料 -->
      <div class="ai-infolist">
        <div class="ai-infotitle">其他资料</div>
        <div class="otherinfo-box">
          <ul class="otherinfo">
            <li class="title">学历证明：</li>
            <li class="listimg">
              <span>
                <img src="../../../img/36_02_1.jpg" alt="">
              </span>
              <span>
                <img src="../../../img/36_02_1.jpg" alt="">
              </span>
              <span>
                <img src="../../../img/36_02_1.jpg" alt="">
              </span>
            </li>
          </ul>
          <ul class="otherinfo">
            <li class="title">职称证明：</li>
            <li class="listimg">
              <span>
                <img src="../../../img/36_02_1.jpg" alt="">
              </span>
              <span>
                <img src="../../../img/36_02_1.jpg" alt="">
              </span>
              <span>
                <img src="../../../img/36_02_1.jpg" alt="">
              </span>
            </li>
          </ul>
          <ul class="otherinfo">
            <li class="title">获奖证书：</li>
            <li class="listimg">
              <span>
                <img src="../../../img/36_02_1.jpg" alt="">
              </span>
              <span>
                <img src="../../../img/36_02_1.jpg" alt="">
              </span>
              <span>
                <img src="../../../img/36_02_1.jpg" alt="">
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- build:footer -->
    
    <!-- endbuild -->


  </div>
  <!-- build:layout_js -->
  
  <!-- endbuild -->


</body>

</html>