<!-- build:layout_head --><!-- endbuild -->
  <link rel="stylesheet" href="../../css/parsley.min.css" th:href="@{/css/parsley.min.css}">
  <link rel="stylesheet" href="../../../css/designer.min.css" th:href="@{/css/designer.min.css}">
</head>

<body>
  <div class="e3-wrap">
    <!-- build:header -->
    
    <!-- endbuild -->


    <!-- 所有样式前缀加  od-  -->
    <div class="od-contentbox clearfix">
      <div class="od-nav">
        <span class="nav-prve">抢单中心</span>&gt;
        <span class="nav-next">订单详情</span>&gt;
        <span class="nav-next">订单报价</span>
      </div>
      <div class="pr-box pr-succbox">
        <div class="pr-succ-mainbox">
          <span class="pr-succimg">
            <img src="../../../img/fail.png" th:src="@{/img/fail.png}" alt="">
          </span>
          <div class="pr-succmes width37">
            <span class="pr-succmes-title">抱歉，下手太慢啦，本单报价已满额！</span>
            <span class="pr-succmes-status">您可以尝试为其他订单报价。</span>
          </div>
        </div>
        <div class="pr-success-btn">
          <span class="back">返回抢单列表</span>
        </div>
      </div>
    </div>
    <!-- build:footer -->
    
    <!-- endbuild -->


  </div>
  <!-- build:layout_js -->
  
  <!-- endbuild -->


</body>

</html>