<!-- build:layout_head --><!-- endbuild -->
  <link rel="stylesheet" href="../../../css/designer.min.css" th:href="@{/css/designer.min.css}">
</head>

<body>
  <!-- build:header -->
  
  <!-- endbuild -->


  <div class="content-wp pdt-12">
    <ul class="clearfix remuneration-ul">
      <li class="left current">
        <div class="inlineblock money">当前未结算</div>
        <div class="inlineblock">
          <span class="price">1100.
            <span class="decimal">00</span>
          </span>
          <span class="unit">元</span>/
          <span class="casenum">5</span>
          <span class="caseunit">单</span>
        </div>
      </li>
      <li class="right">
        <div class="inlineblock money">历史已结算</div>
        <div class="inlineblock">
          <span class="price">12000.
            <span class="decimal">00</span>
          </span>
          <span class="unit">元</span>/
          <span class="casenum">5</span>
          <span class="caseunit">单</span>
        </div>
      </li>
    </ul>
    <!-- <div class="link-wp">
      <a class="konwexplain" href="javascript:;">查看稿酬定价说明</a>
    </div> -->
    <div class="table-title mt-2">
      <span class="casenumber">需求单号</span>
      <span class="designphase">设计阶段</span>
      <span class="paydate">完成日期</span>
      <span class="price">金额</span>
      <span class="bank">收款银行</span>
      <span class="account">收款账号</span>
      <span class="paystate">结算状态</span>
    </div>
    <ul class="caselist-ul">
      <li class="clearfix firstli">
        <span class="left casemonth">2017年9月</span>
        <span class="right total-price">合计金额：
          <span class="totalprice">￥1100.00元</span>
        </span>
      </li>
      <li>
        <span class="casenumber">2017093023124512</span>
        <span class="designphase">设计阶段</span>
        <span class="paydate">2017-09-02</span>
        <span class="price">￥100.00</span>
        <span class="bank">招商银行</span>
        <span class="account">8601 0578 **** 2368 8748</span>
        <span class="paystate">未结算</span>
      </li>
      <li>
        <span class="casenumber">2017093023124512</span>
        <span class="designphase">设计阶段</span>
        <span class="paydate">2017-09-02</span>
        <span class="price">￥100.00</span>
        <span class="bank">招商银行</span>
        <span class="account">8601 0578 **** 2368 8748</span>
        <span class="paystate">未结算</span>
      </li>
      <li>
        <span class="casenumber">2017093023124512</span>
        <span class="designphase">设计阶段</span>
        <span class="paydate">2017-09-02</span>
        <span class="price">￥100.00</span>
        <span class="bank">招商银行</span>
        <span class="account">8601 0578 **** 2368 8748</span>
        <span class="paystate">未结算</span>
      </li>
    </ul>
    <ul class="caselist-ul">
      <li class="clearfix firstli">
        <span class="left casemonth">2017年9月</span>
        <span class="right total-price">合计金额：
          <span class="totalprice">￥1100.00元</span>
        </span>
      </li>
      <li>
        <span class="casenumber">2017093023124512</span>
        <span class="designphase">设计阶段</span>
        <span class="paydate">2017-09-02</span>
        <span class="price">￥100.00</span>
        <span class="bank">招商银行</span>
        <span class="account">8601 0578 **** 2368 8748</span>
        <span class="paystate">未结算</span>
      </li>
      <li>
        <span class="casenumber">2017093023124512</span>
        <span class="designphase">设计阶段</span>
        <span class="paydate">2017-09-02</span>
        <span class="price">￥100.00</span>
        <span class="bank">招商银行</span>
        <span class="account">8601 0578 **** 2368 8748</span>
        <span class="paystate">未结算</span>
      </li>
      <li>
        <span class="casenumber">2017093023124512</span>
        <span class="designphase">设计阶段</span>
        <span class="paydate">2017-09-02</span>
        <span class="price">￥100.00</span>
        <span class="bank">招商银行</span>
        <span class="account">8601 0578 **** 2368 8748</span>
        <span class="paystate">未结算</span>
      </li>
    </ul>
    <!-- 个人中心-审核中 -->
    <div class="empty-ct">
      <img class="empty-icon" src="../../img/empty.png" th:src="@{/img/empty.png}" alt="">
      <!-- <p class="empty-say">目前您还没有通过平台认证审核，认证后您即将可以开始抢单报价。</p> -->
      <!-- <a href="javascript:;" class="return-index">返回平台首页</a> -->
      <p class="empty-say">当前还没成交数据，赶紧去抢单中心报价吧！</p>
      <a href="javascript:;" class="return-index">去抢单中心</a>
    </div>
    <!-- 个人中心-审核中 -->
  </div>
  <!-- build:footer -->
  
  <!-- endbuild -->


  <!-- build:layout_js -->
  
  <!-- endbuild -->


</body>

</html>