<!-- build:layout_head --><!-- endbuild -->
  <link rel="stylesheet" href="../../../css/exhibitor.min.css" th:href="@{/css/exhibitor.min.css}">
</head>

<body>
  <div class="e3-wrap">
    <!-- build:header -->
    
    <!-- endbuild -->


    <!-- 内容填充区域 -->
    <div class="od-contentbox clearfix">
      <div class="od-nav">
        <span class="nav-prve">订单管理</span>&gt;<span class="nav-next">订单详情</span>&gt;<span class="nav-next">详细设计需求</span>
      </div>
      <div class="od-mainbox">
        <div class="od-toptitle">详细设计需求</div>
        <div class="od-detailbox">
          <!-- 项目联系人 -->
          <div class="odt-list clearfix">
            <div class="odt-name">
              项目联系人
            </div>
            <div>
              <ul class="odt-contact">
                <li><span>姓名：</span><span>Jessica</span></li>
                <li><span>公司：</span>上海笔克展览展示有限公司</li>
              </ul>
              <ul class="odt-contact">
                <li><span>电话：</span>13423339966</li>
              </ul>
            </div>
          </div>
          <!-- 展会详情 -->
          <div class="odt-list clearfix">
            <div class="odt-name">
              展会详情
            </div>
            <div class="clearfix">
              <div class="odt-left">
                <ul class="odt-leftlist">
                  <li><span>参展商名称：</span><span>上海笔克展览展示有限公司</span></li>
                  <li><span>相关网站：</span><span>www.e3-expo.com</span></li>
                  <li><span>展会名称：</span><span>2017年上海法兰克福汽车零部件、维修检测诊断设备 及汽车用品展览会</span></li>
                  <li><span>举办城市：</span><span>上海市</span></li>
                  <li><span>展馆名称：</span><span>新国际博览中心</span></li>
                  <li><span>展台号：</span><span>D3-4</span></li>
                  <li><span>展台面积：</span><span>8m×8m</span></li>
                  <li><span>展台限高：</span><span>4.5m</span></li>
                  <li><span>整体预算：</span><span>￥50,000</span></li>
                </ul>
              </div>
              <div class="odt-right">
                <div>展会平面图</div>
                <div class="odtt-rightimg">
                  <img src="/img/e3logo.png" th:src="@{/img/e3logo.png}" alt="">
                </div>
              </div>
            </div>
          </div>
          <!-- 设计需求 -->
          <div class="odt-list clearfix">
            <div class="odt-name">
              设计需求
            </div>
            <div class="odt-desneeds clearfix">
              <div class="odt-deslist clearfix">
                <div class="odt-desneeds-list clearfix">
                  <div class="odt-desneeds-name">展台开口：</div>
                  <div class="select-box">
                    <img src="/img/openleftcopy.png" th:src="@{/img/openleftcopy.png}" alt="">
                    <span class="select-name">单面开口</span>
                  </div>
                </div>
                <div class="odt-desneeds-list clearfix">
                  <div class="odt-desneeds-name">特殊需求：</div>
                  <div class="select-box">
                    <img src="/img/openleftcopy.png" th:src="@{/img/openleftcopy.png}" alt="">
                    <span class="select-name">双层结构</span>
                  </div>
                </div>
              </div>
              <div class="odt-deslist clearfix">
                <div class="clearfix">
                  <div class="odt-desneeds-name">主体结构：</div>
                  <div class="select-box">
                    <img src="/img/openleftcopy.png" th:src="@{/img/openleftcopy.png}" alt="">
                    <span class="select-name">单面开口</span>
                  </div>
                  <div class="odt-deslistdte">
                    <div class="odt-deslistdte-list">
                      <div>备注：</div>
                      <div>木材桁架混合结构，木材桁架混合结构，木材桁架混合结构，木材桁架混合结构，木材桁架混合结构。</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="odt-deslist clearfix">
                <div class="clearfix">
                  <div class="odt-desneeds-name">材质：</div>
                  <div class="select-box">
                    <img src="/img/openleftcopy.png" th:src="@{/img/openleftcopy.png}" alt="">
                    <span class="select-name">涂料</span>
                  </div>
                  <div class="odt-deslistdte">
                    <div class="odt-deslistdte-list">
                      <span>展台主体颜色：</span><span class="odt-maincolor"></span>
                    </div>
                    <div class="odt-deslistdte-list">
                      <span>辅助颜色：</span><span class="odt-auxcolor"></span>
                    </div>
                    <div class="odt-deslistdte-list">
                      <div>备注：</div>
                      <div>木材桁架混合结构，木材桁架混合结构，木材桁架混合结构，木材桁架混合结构，木材桁架混合结构。</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="odt-deslist clearfix">
                <div class="odt-desneeds-list clearfix">
                  <div class="odt-desneeds-name">相关logo：</div>
                  <div class="select-box odt-desline">
                    <img class="odt-deslogo" src="/img/openleftcopy.png" th:src="@{/img/openleftcopy.png}" alt="">
                  </div>
                </div>
                <div class="odt-tipsbox">
                  <div class="op-tips">
                    <div class="optips-name">特殊要求及注意事项：</div>
                    <div class="odt-optips-content">补充的特殊要求，让设计师更好的了解所需风格。补充的特殊要求，让设计师更好的了解所需风格。补充的特殊要求，让设计师更好的了解所需风格。补充的特殊要求，让设计师更好的了解所需风格。</div>
                  </div>
                  <div class="op-tips">
                    <div class="optips-name">其他参考资料：</div>
                  </div>
                  <div class="op-tips">
                    <div class="optips-name">CI规范：</div>
                    <div>
                      <div class="ex-inputbox bgc-ori">
                        <img src="" alt="">
                      </div>
                    </div>
                    <div class="optips-name">图片/海报：</div>
                    <div>
                      <div class="ex-inputbox bgc-ori">
                        <img src="" alt="">
                      </div>
                    </div>
                  </div>
                  <div class="op-tips">
                    <div class="optips-name">过往展台照片：</div>
                    <div>
                      <div class="ex-inputbox bgc-ori">
                        <img src="" alt="">
                      </div>
                    </div>
                    <div class="optips-name">其他：</div>
                    <div>
                      <div class="ex-inputbox bgc-ori">
                        <img src="" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- 功能区域 -->
          <div class="odt-list clearfix">
            <div class="odt-name">
              功能区域
            </div>
            <div class="odt-featurebox clearfix">
              <div class="pm-selectlist">
                <div class="fm-feature">
                  <div class="select-box">
                    <img src="/img/fea1.png" th:src="@{/img/fea1.png}" alt="">
                    <span class="select-name">接待区</span>
                  </div>
                  <div class="odt-featurenum">X<span>1</span></div>
                </div>
                <div class="fm-feature">
                  <div class="select-box">
                    <img src="/img/fea2.png" th:src="@{/img/fea2.png}" alt="">
                    <span class="select-name">产品区</span>
                  </div>
                  <div class="odt-featurenum">X<span>1</span><span class="odt-featuretype">半封闭式</span></div>
                </div>
              </div>
              <div class="pm-selectlist">
                <div class="fm-feature one-width">
                  <div class="select-box">
                    <img src="/img/fea3.png" th:src="@{/img/fea3.png}" alt="">
                    <span class="select-name">会议洽谈桌椅</span>
                  </div>
                  <div class="odt-dtenum">
                    <div class="odt-dtenum-top"><span class="mr-1">桌</span><span class="mr-3">×4</span><span class="mr-1">椅</span><span>×16</span></div>
                    <div>白色桌子，红色椅子，质量好的塑料材质。白色桌子，红色椅子，质量好的塑料材质。白色桌子，红色椅子，质量好的塑料材质。</div>
                  </div>
                </div>
              </div>
              <div class="pm-selectlist">
                <div class="fm-feature one-width">
                  <div class="select-box">
                    <img src="/img/fea4.png" th:src="@{/img/fea4.png}" alt="">
                    <span class="select-name">电子展示</span>
                  </div>
                  <div class="odt-dtenum">
                    <div class="odt-dtenum-top"><span class="mr-1">led电视</span><span class="mr-3">×4</span><span class="mr-1">ipad</span><span>×16</span></div>
                    <div>其它设备：移动wifi 1台，移动wifi 1台，移动wifi 1台。其它设备：移动wifi 1台，移动wifi 1台，移动wifi 1台。</div>
                  </div>
                </div>
              </div>
              <div class="pm-selectlist">
                <div class="fm-feature one-width">
                  <div class="select-box">
                    <img src="/img/fea5.png" th:src="@{/img/fea5.png}" alt="">
                    <span class="select-name">其他设备</span>
                  </div>
                  <div class="odt-dtenum">
                    <div class="odt-dtenum-top"><span class="mr-1">冰箱</span><span class="mr-3">×4</span><span class="mr-1">饮水机</span><span>×16</span></div>
                    <div>其它设备：亚克力A4桌牌5个，亚克力A4桌牌5个。亚克力A4桌牌5个，亚克力A4桌牌5个。亚克力A4桌牌5个，亚克力A4桌牌5个。</div>
                  </div>
                </div>
              </div>
              <div class="pm-selectlist">
                <div class="fm-feature">
                  <div class="select-box">
                    <img src="/img/fea6.png" th:src="@{/img/fea6.png}" alt="">
                    <span class="select-name">海报展示</span>
                  </div>
                  <div class="odt-featurenum">X<span>8</span></div>
                </div>
              </div>
              <div class="pm-selectlist">
                <div class="fm-feature one-width">
                  <div class="select-box">
                    <img src="/img/fea7.png" th:src="@{/img/fea7.png}" alt="">
                    <span class="select-name">储藏区</span>
                  </div>
                  <div class="odt-dtenum">
                    <div class="odt-dtenum-top"><span class="mr-3">×1</span><span class="mr-1">面积：</span><span>5m×5m</span></div>
                    <div>特殊要求：客户提出的特殊需求，客户提出的特殊需求，客户提出的特殊需求，客户提出的特殊需求，客户提出的特殊需求，</div>
                  </div>
                </div>
              </div>
              <div class="pm-selectlist">
                <div class="fm-feature one-width">
                  <div class="select-box">
                    <img src="/img/fea8.png" th:src="@{/img/fea8.png}" alt="">
                    <span class="select-name">活动区</span>
                  </div>
                  <div class="odt-dtenum">
                    <div class="odt-dtenum-top"><span class="mr-3">×1</span><span class="mr-1">面积：</span><span>5m×5m</span></div>
                    <div>活动主题等的相关内容的输入，活动主题等的相关内容的输入，活动主题等的相关内容的输入，活动主题等的相关内容的输入，</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- 参展理念 -->
          <div class="odt-list clearfix">
            <div class="odt-name">
              参展理念
            </div>
            <div class="odt-ideabox clearfix">
              <div class="odt-idealist">
                <div>展览目标：</div>
                <div class="odt-idealist-dte">
                  <div>
                    品牌推广 | 产品展示
                  </div>
                  <div>其他的展览目标目的补充，其他的展览目标目的补充。</div>
                </div>
              </div>
              <div class="odt-idealist">
                <div>目标观众：</div>
                <div class="odt-idealist-dte">
                  <div>
                    大众消费者 | 国内买家 | 受邀嘉宾
                  </div>
                  <div>其他的目标观众的补充，其他的目标观众的补充。</div>
                </div>
              </div>
              <div class="odt-idealist">
                <div>产品描述：</div>
                <div class="odt-idealist-dte">
                  <div>
                    E3（易宜益）是一家创新型互联网O2O公司，致力于打造中国领先，面向全球的展装交易平台。在E3（易宜益）操作便捷的网页上，参展商可以一键下单，从设计说明、发标、选标、中标、合同签署，到工场预搭、进场报审、现场搭建，全程订单流程在线化、透明化、专业化，并由E3进行全程监督。展装流程和质量安全有一站式专业平台来规范和指导，把控时间进度，跟着专家来布展，整个过程化繁为简，使得布展不再是件烦心事，即使新人也能轻松上手。
                  </div>
                </div>
              </div>
              <div class="odt-idealist">
                <div>竞争对手：</div>
                <div class="odt-idealist-dte">
                  <div>
                    艺展网、展酷网等等。
                  </div>
                </div>
              </div>
              <div class="odt-idealist">
                <div>参展主题slogan：</div>
                <div class="odt-idealist-dte">
                  <div>
                    容易、便宜、高效益。
                  </div>
                </div>
              </div>
              <div class="odt-idealist">
                <div>建议设计理念：</div>
                <div class="odt-idealist-dte">
                  <div>
                    以LOGO色为颜色的主题延展。
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- 设计师类型 -->
          <!-- <div class="odt-list clearfix">
            <div class="odt-name">
              设计师类型
            </div>
            <div class="odt-designertype">
              <div class="odt-designerlist">
                <span class="mr-1">设计师类型：</span><span>设计师</span>
              </div>
              <div class="odt-designerlist">
                <span class="mr-1">初稿期望交稿日期：</span><span>2018/01/11</span>
              </div>
            </div>
            <div class="odt-desdte clearfix">
              <div class="odtlist bgcodtlist">
                <ul>
                  <li>设计阶段</li>
                  <li>设计师类型</li>
                  <li>稿数</li>
                  <li>单价</li>
                  <li>总计</li>
                </ul>
              </div>
              <div class="odtlist">
                <ul>
                  <li>概念设计</li>
                  <li>设计师</li>
                  <li>2</li>
                  <li>300</li>
                  <li>600</li>
                </ul>
              </div>
              <div class="odtlist">
                <ul>
                  <li>深化设计</li>
                  <li>资深设计师</li>
                  <li>1</li>
                  <li>300</li>
                  <li>300</li>
                </ul>
              </div>
              <div class="odtlist">
                <ul>
                  <li>施工图设计</li>
                  <li>首席设计师/设计工作室</li>
                  <li>1</li>
                  <li>300</li>
                  <li>300</li>
                </ul>
              </div>
            </div>
            <div class="odt-destotal">
              <span>总计：¥</span><span>1200</span>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <!-- <div class="odt-btobtn">
      <div class="leftdte">
        <span class="designdata">设计图交稿日期：2017.10.23</span><span>施工图交稿日期：2017.12.21</span>
      </div>
      <div class="rightdte">
          立即报价
      </div>
    </div> -->
    <!-- build:footer -->
    
    <!-- endbuild -->


  </div>
  <!-- build:layout_js -->
  
  <!-- endbuild -->


</body>

</html>