<div class="header-box">
    <div class="header-wp">
      <div class="header clearfix">
        <div class="right">
          <a class="login-btn" href="javascript:;">登录</a>
          <em class="line"></em>
          <a class="register-btn" href="javascript:;">注册</a>
          <span class="customer-hotline"><i class="line-icon"></i>咨询热线：4006-06-4006</span>
        </div>
      </div>
    </div>
    <div class="menu-content">
      <div class="link-pic"><a class="link-pica" href="javascript:;"><img src="/img/header_logo.png" th:src="@{/img/header_logo.png}" height="40" alt=""></a></div>
      <div class="link-title">个人中心</div>
      <div class="link-menulist">
        <ul>
          <li class="header-current">首页</li>
          <li>抢单中心</li>
          <li>订单管理</li>
          <li>稿酬结算</li>
          <li>账户信息</li>
        </ul>
      </div>
    </div>
  </div>