<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../../assets/css/normalize.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../../assets/css/task-detail.css" />
</head>
<body>
    <div class="container">
        <!--位置-->
        <div class="location">
            研究社区>任务详情>尽调填写
        </div>
        <!--头部-->
        <div class="header">
            <div class="header-left">
                <div class="header-left-content">
                    <div class="header-left-content-img">
                        <img src="../../assets/images/task_pic.png" alt="">
                    </div>
                    <div class="header-left-content-text">
                        <div class="task-title">
                            <span>EOS</span>（Enterprise Operation System）
                        </div>
                        <div class="expert">
                            <div class="expert-name">
                                <span>李梦青</span>发起人
                            </div>
                            <div class="task-sponsor">
                                <span>10000 DRC</span>出资
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-left-title">
                    尽调内容
                </div>
                <div class="header-left-sort">
                    <span>基础设施</span>
                    <span>金融</span>
                    <span>供应链</span>
                    <span>防伪</span>
                    <span>基础设施</span>
                    <span>金融</span>
                    <span>供应链</span>
                    <span>防伪</span>
                    <span>基础设施</span>
                    <span>金融</span>
                    <span>供应链</span>
                    <span>防伪</span>
                </div>
            </div>
            <div class="header-right">
                <div class="right-text">
                    <img src="../../assets/images/task_detail_watch.png" alt="">
                    <span>剩余时间</span>
                </div>
                <div class="time">
                    <span>3</span>
                    <span>6</span>
                    :
                    <span>2</span>
                    <span>0</span>
                    :
                    <span>1</span>
                    <span>0</span>
                </div>
                <div class="right-text">
                    <img src="../../assets/images/cycle.png" alt="">
                    <span>尽调周期</span>
                </div>
                <div class="cycle">
                    2018.01.16至2018.01.19
                </div>
                <div class="right-text">
                    <img src="../../assets/images/finish.png" alt="">
                    <span>完成度</span>
                </div>
                <div class="finish">
                    <div class="finish-sub"></div>
                </div>
                <div class="finish-text">
                    <span>尽调进度</span>
                    <span>80%</span>
                </div>
            </div>
        </div>

        <!--填写部分-->
        <div class="table-container">
            <ul class="table-nav">
                <li class="table-nav-sub">
                    <div class="table-nav-title bg-purple">
                        <div class="table-nav-title-box">
                            <span>基础信息</span>
                            <span>22/22</span>
                        </div>
                    </div>
                    <div class="table-nav-sort">
                        <ul>
                            <li>
                                <div class="table-nav-sort-sub">
                                    <span>项目基本情况</span>
                                    <span>8/8</span>
                                </div>
                            </li>
                            <li>
                                <div class="table-nav-sort-sub">
                                    <span>团队基本情况</span>
                                    <span>6/6</span>
                                </div>
                            </li>
                            <li>
                                <div class="table-nav-sort-sub">
                                    <span>资本市场认可度</span>
                                    <span>3/3</span>
                                </div>
                            </li>
                            <li>
                                <div class="table-nav-sort-sub">
                                    <span>宣传推广力度</span>
                                    <span>2/2</span>
                                </div>
                            </li>
                            <li>
                                <div class="table-nav-sort-sub">
                                    <span>项目热度</span>
                                    <span>3/3</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="table-nav-sub">
                    <div class="table-nav-title bg-blue">
                        <div class="table-nav-title-box">
                            <span>项目团队评估</span>
                            <span>20/20</span>
                        </div>
                    </div>
                </li>
                <li class="table-nav-sub">
                    <div class="table-nav-title bg-cyan">
                        <div class="table-nav-title-box">
                            <span>项目方案评估</span>
                            <span>16/16</span>
                        </div>
                    </div>
                </li>
                <li class="table-nav-sub">
                    <div class="table-nav-title bg-green">
                        <div class="table-nav-title-box">
                            <span>技术评估</span>
                            <span>21/21</span>
                        </div>
                    </div>
                </li>
                <li class="table-nav-sub">
                    <div class="table-nav-title bg-yellow">
                        <div class="table-nav-title-box">
                            <span>经济机制评估</span>
                            <span>30/30</span>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="table-sub">
                <div class="table-sub-triangle"></div>
                <div class="table-sub-title">
                    项目基本情况
                </div>
                <ul class="table-sub-list">
                    <li>
                        <span>运营实体</span>
                        <img src="../../assets/images/table-chk.png" alt="">
                    </li>
                    <li>
                        <span>项目名称</span>
                        <img src="../../assets/images/table-no-chk.png" alt="">
                    </li>
                    <li>
                        <span>官网地址</span>
                    </li>
                    <li>
                        <span>项目创始人</span>
                        <img src="../../assets/images/table-no-chk.png" alt="">
                    </li>
                    <li>
                        <span>发起国家</span>
                    </li>
                    <li>
                        <span>发起时间</span>
                        <img src="../../assets/images/table-no-chk.png" alt="">
                    </li>
                    <li>
                        <span>项目简介</span>
                    </li>
                    <li>
                        <span>项目类型</span>
                        <img src="../../assets/images/table-no-chk.png" alt="">
                    </li>
                </ul>
            </div>
            <div class="table-content">
                <div class="table-content-triangle"></div>
                <div class="table-content-title">
                    <div class="table-page">
                        <img src="../../assets/images/prev.png" alt="">
                        <span>上一题</span>
                    </div>
                    <div class="table-title-text">
                        项目运营实体
                    </div>
                    <div class="table-page">
                        <img src="../../assets/images/next.png" alt="">
                        <span>下一题</span>
                    </div>
                </div>
                <div class="table-content-body">
                    <div class="table-body-text">
                        评价说明
                    </div>
                    <div class="table-body-title">
                       <span>项目运营实体</span>(单选)
                    </div>
                    <div class="table-body-text">
                        评价结果
                    </div>
                    <div class="table-body-result">
                        <div class="table-body-result-row">
                            <input type="radio" name="result" id="result1">
                            <label for="result1">公司，请提供公司名称</label>
                        </div>
                        <div class="table-body-result-row">
                            <input type="radio" name="result" id="result2">
                            <label for="result2">基金会，请提供基金会名称</label>
                        </div>
                        <div class="table-body-result-row">
                            <input type="radio" name="result" id="result3">
                            <label for="result3">其他形式实体，请提供实体名称</label>
                        </div>
                        <div class="table-body-result-row">
                            <input type="radio" name="result" id="result4">
                            <label for="result4">未披露</label>
                        </div>
                    </div>
                    <div class="table-body-text textarea-text">
                        评价依据
                    </div>
                    <textarea class="table-body-textarea">

                    </textarea>
                    <div class="table-btn-box">
                        <button class="table-btn">预览</button>
                        <button class="table-btn btn-active">保存</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn">
            <button>确认提交</button>
        </div>
    </div>
</body>
</html>