<!-- build:layout_head --><!-- endbuild -->
  <link rel="stylesheet" href="../../../css/exhibitor.min.css" th:href="@{/css/exhibitor.min.css}">
  <link rel="stylesheet" href="../../../css/timechoose.css" th:href="@{/css/timechoose.css}">
</head>

<body>
  <!-- build:header -->
  
  <!-- endbuild -->


  <div class="boxwrap clearfix">
    <div class="pr-nav">
      <span class="nav-prve">个人中心</span>&gt;<span class="nav-next">发布需求</span>
    </div>
    <div class="pr-box pr-succbox">
      <div class="pr-succ-mainbox">
        <span class="pr-succimg">
          <img src="../../../img/success.png" th:href="@{/img/success.png}" alt="">
        </span>
        <div class="pr-succmes">
          <span class="pr-succmes-title">您的需求已发布成功！</span>
          <span class="pr-succmes-status">可以在<i>订单管理</i>中查询订单进度。</span>
        </div>
      </div>
      <div class="pr-success-btn">
        <span>查看订单进度</span>
        <span>继续发布需求</span>
      </div>
    </div>
  </div>
  <!-- build:footer -->
  
  <!-- endbuild -->



  <!-- build:layout_js -->
  
  <!-- endbuild -->


  <script src="../../../js/vendor/jscolor.js" th:src="@{/js/vendor/jscolor.js}"></script>
  <script src="../../../js/vendor/jquery.date_input.pack.js" th:src="@{/js/vendor/jquery.date_input.pack.js}"></script>
  <script src="../../../js/post_requirement.js" th:src="@{/js/post_requirement.js}"></script>
</body>

</html>