<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../../assets/css/normalize.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../../assets/css/research.css" />
</head>
<body>
    <div class="container">
        <!--头部导航-->
        <div class="nav">
            <ul class="nav-left">
                <li>基础设施</li>
                <li class="nav-active">金融</li>
                <li>预测</li>
                <li>娱乐</li>
                <li>媒体</li>
                <li>知识产权</li>
                <li>物联网</li>
                <li>商业</li>
                <li>供应链</li>
                <li>医疗</li>
                <li>防伪</li>
                <li>存储</li>
            </ul>
            <div class="nav-right">
                <div class="nav-right-content">
                    <div class="nav-right-content-title">
                        COSMOS尽调170912COSMOS尽调170912
                    </div>
                    <div class="nav-right-cotent-text">
                        Cosmos是一种独立平行的区块链网络，解决跨链的货币交换、传递问题。未来区块链的数目会持续增长，区块链间的互联互通市场前景会很大
                    </div>
                    <div class="nav-right-icon-box">
                        <span>
                            <img src="../../assets/images/nav_icon_1.png" alt="">
                            美国
                        </span>
                        <span>
                            <img src="../../assets/images/nav_icon_2.png" alt="">
                            金融
                        </span>
                        <span>
                            <img src="../../assets/images/nav_icon_3.png" alt="">
                            ATOM
                        </span>
                    </div>
                </div>
                <div class="nav-right-info">
                    <div class="info-wrap">
                        <div class="nav-right-pic">
                            <img src="../../assets/images/task_pic.png" alt="">
                        </div>
                        <div class="expert">
                            <div class="expert-text">
                                <strong>王韦民</strong>
                                发起人
                            </div>
                            <div class="expert-text">
                                <span>1500</span>
                                <strong>DRC</strong>
                                出资
                            </div>
                        </div>
                        <div>
                            <div class="process-bar-wrap nav-precoss">
                                <div class="precess-bar process-orange"></div>
                            </div>
                            <div class="process-text">
                            <span>
                                <strong>80%</strong>
                                <span>任务认领</span>
                            </span>
                                <span>
                                <strong>15</strong>
                                <span>认领人数</span>
                            </span>
                                <span>
                                <img src="../../assets/images/watch.png" alt="">
                                <strong>2017.08.26</strong>
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--全部任务-->
        <div class="all-tasks">
            <div class="all-tasks-title">
                <span>全部任务（680个）</span>
                <button>
                    <img src="../../assets/images/all_tasks_btn.png" alt="">
                    <span>上传新项目</span>
                </button>
            </div>
            <div class="all-tasks-sort">
                <div class="sort-row">
                    <div class="sort-img">
                        <img src="../../assets/images/sort_project.png" alt="">
                        <span>项目类型</span>
                    </div>
                    <div class="sort-content">
                        <div class="sort-content-list">
                            <span>全部</span>
                            <span>金融</span>
                            <span>供应链</span>
                            <span>防伪</span>
                            <span>医疗</span>
                        </div>
                        <div class="sort-content-list">
                            <span>能源</span>
                            <span>通讯</span>
                            <span>商业</span>
                            <span>互联网</span>
                            <span>制造业</span>
                            <a href="javascript:;">收起</a>
                        </div>
                    </div>

                </div>
                <div class="sort-row">
                    <div class="sort-img">
                        <img src="../../assets/images/sort_task.png" alt="">
                        <span>任务类型</span>
                    </div>
                    <div class="sort-content">
                        <div class="sort-content-list">
                            <span>全部</span>
                            <span>尽职调查</span>
                            <span>动态监测</span>
                            <span class="sort-active">
                                专题研究
                                <img src="../../assets/images/triangle_top.png" alt="">
                            </span>
                        </div>
                        <div class="sort-content-list sort-task-content">
                            <span class="sort-active">代币机制</span>
                            <span class="sort-active">去中心化交易</span>
                        </div>
                    </div>
                </div>
                <div class="sort-row">
                    <div class="sort-img">
                        <img src="../../assets/images/sort_task_state.png" alt="">
                        <span>任务状态</span>
                    </div>
                    <div class="sort-content">
                        <div class="sort-content-list">
                            <span>全部</span>
                            <span>认领中</span>
                            <span>尽调中</span>
                            <span>公式中</span>
                            <span>已完成</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--任务列表-->
        <div>
            <ul class="task-list">
                <li class="task-sub">
                    <div class="task-sub-header">
                        <div class="task-sub-img">
                            <img src="../../assets/images/task_pic.png" alt="">
                        </div>
                    </div>
                    <div class="task-sub-content-container">
                        <div class="sub-title">
                            <a href="task-detail.html">COMOS尽调报告170917COMOS尽调报告170917COMOS尽调报告170917COMOS尽调报告170917</a>
                        </div>
                        <div class="sub-outline">
                            <div class="avator">
                                <img src="../../assets/images/task_sub_avatar.png" alt="">
                            </div>
                            <div class="sub-content">
                                <div class="sub-content-title">
                                    <span>李梦青</span>
                                    <span>1500 DRC</span>
                                </div>
                                <div class="sub-content-text">
                                    领导开发的类似操作系统的区块链构架平台，实现分布应用的性能扩展领导开发的类似操作系统的区块链构架平台，实现分布应用的性能扩展
                                    领导开发的类似操作系统的区块链构架平台，实现分布应用的性能扩展
                                </div>
                            </div>
                        </div>
                        <div class="sub-footer">
                            <div class="process-bar-wrap">
                                <div class="precess-bar process-green"></div>
                            </div>
                            <div class="process-text">
                                <span>
                                    <strong>80%</strong>
                                    <span>任务认领</span>
                                </span>
                                <span>
                                    <strong>15</strong>
                                    <span>认领人数</span>
                                </span>
                                <span>
                                    <img src="../../assets/images/watch.png" alt="">
                                    <strong>2017.08.26</strong>
                                </span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="task-sub">
                    <div class="task-sub-header">
                        <div class="task-sub-img">
                            <img src="../../assets/images/task_pic.png" alt="">
                        </div>
                    </div>
                    <div class="task-sub-content-container">
                        <div class="sub-title">
                            <a href="task-detail.html">COMOS尽调报告170917COMOS尽调报告170917COMOS尽调报告170917COMOS尽调报告170917</a>
                        </div>
                        <div class="sub-outline">
                            <div class="avator">
                                <img src="../../assets/images/task_sub_avatar.png" alt="">
                            </div>
                            <div class="sub-content">
                                <div class="sub-content-title">
                                    <span>李梦青</span>
                                    <span>1500 DRC</span>
                                </div>
                                <div class="sub-content-text">
                                    领导开发的类似操作系统的区块链构架平台，实现分布应用的性能扩展领导开发的类似操作系统的区块链构架平台，实现分布应用的性能扩展
                                    领导开发的类似操作系统的区块链构架平台，实现分布应用的性能扩展
                                </div>
                            </div>
                        </div>
                        <div class="sub-footer">
                            <div class="process-bar-wrap">
                                <div class="precess-bar process-dark-blue"></div>
                            </div>
                            <div class="process-text">
                                <span>
                                    <strong>80%</strong>
                                    <span>任务认领</span>
                                </span>
                                <span>
                                    <strong>15</strong>
                                    <span>认领人数</span>
                                </span>
                                <span>
                                    <img src="../../assets/images/watch.png" alt="">
                                    <strong>2017.08.26</strong>
                                </span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="task-sub">
                    <div class="task-sub-header">
                        <div class="task-sub-img">
                            <img src="../../assets/images/task_pic.png" alt="">
                        </div>
                    </div>
                    <div class="task-sub-content-container">
                        <div class="sub-title">
                            <a href="task-detail.html">COMOS尽调报告170917COMOS尽调报告170917COMOS尽调报告170917COMOS尽调报告170917</a>
                        </div>
                        <div class="sub-outline">
                            <div class="avator">
                                <img src="../../assets/images/task_sub_avatar.png" alt="">
                            </div>
                            <div class="sub-content">
                                <div class="sub-content-title">
                                    <span>李梦青</span>
                                    <span>1500 DRC</span>
                                </div>
                                <div class="sub-content-text">
                                    领导开发的类似操作系统的区块链构架平台，实现分布应用的性能扩展领导开发的类似操作系统的区块链构架平台，实现分布应用的性能扩展
                                    领导开发的类似操作系统的区块链构架平台，实现分布应用的性能扩展
                                </div>
                            </div>
                        </div>
                        <div class="sub-footer">
                            <div class="process-bar-wrap">
                                <div class="precess-bar process-cyan"></div>
                            </div>
                            <div class="process-text">
                                <span>
                                    <strong>80%</strong>
                                    <span>任务认领</span>
                                </span>
                                <span>
                                    <strong>15</strong>
                                    <span>认领人数</span>
                                </span>
                                <span>
                                    <img src="../../assets/images/watch.png" alt="">
                                    <strong>2017.08.26</strong>
                                </span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="task-sub">
                    <div class="task-sub-header">
                        <div class="task-sub-img">
                            <img src="../../assets/images/task_pic.png" alt="">
                        </div>
                    </div>
                    <div class="task-sub-content-container">
                        <div class="sub-title">
                            <a href="task-detail.html">COMOS尽调报告170917COMOS尽调报告170917COMOS尽调报告170917COMOS尽调报告170917</a>
                        </div>
                        <div class="sub-outline">
                            <div class="avator">
                                <img src="../../assets/images/task_sub_avatar.png" alt="">
                            </div>
                            <div class="sub-content">
                                <div class="sub-content-title">
                                    <span>李梦青</span>
                                    <span>1500 DRC</span>
                                </div>
                                <div class="sub-content-text">
                                    领导开发的类似操作系统的区块链构架平台，实现分布应用的性能扩展领导开发的类似操作系统的区块链构架平台，实现分布应用的性能扩展
                                    领导开发的类似操作系统的区块链构架平台，实现分布应用的性能扩展
                                </div>
                            </div>
                        </div>
                        <div class="sub-footer">
                            <div class="process-bar-wrap">
                                <div class="precess-bar process-blue"></div>
                            </div>
                            <div class="process-text">
                                <span>
                                    <strong>80%</strong>
                                    <span>任务认领</span>
                                </span>
                                <span>
                                    <strong>15</strong>
                                    <span>认领人数</span>
                                </span>
                                <span>
                                    <img src="../../assets/images/watch.png" alt="">
                                    <strong>2017.08.26</strong>
                                </span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="task-sub">
                    <div class="task-sub-header">
                        <div class="task-sub-img">
                            <img src="../../assets/images/task_pic.png" alt="">
                        </div>
                    </div>
                    <div class="task-sub-content-container">
                        <div class="sub-title">
                            <a href="task-detail.html">COMOS尽调报告170917COMOS尽调报告170917COMOS尽调报告170917COMOS尽调报告170917</a>
                        </div>
                        <div class="sub-outline">
                            <div class="avator">
                                <img src="../../assets/images/task_sub_avatar.png" alt="">
                            </div>
                            <div class="sub-content">
                                <div class="sub-content-title">
                                    <span>李梦青</span>
                                    <span>1500 DRC</span>
                                </div>
                                <div class="sub-content-text">
                                    领导开发的类似操作系统的区块链构架平台，实现分布应用的性能扩展领导开发的类似操作系统的区块链构架平台，实现分布应用的性能扩展
                                    领导开发的类似操作系统的区块链构架平台，实现分布应用的性能扩展
                                </div>
                            </div>
                        </div>
                        <div class="sub-footer">
                            <div class="process-bar-wrap">
                                <div class="precess-bar process-green"></div>
                            </div>
                            <div class="process-text">
                                <span>
                                    <strong>80%</strong>
                                    <span>任务认领</span>
                                </span>
                                <span>
                                    <strong>15</strong>
                                    <span>认领人数</span>
                                </span>
                                <span>
                                    <img src="../../assets/images/watch.png" alt="">
                                    <strong>2017.08.26</strong>
                                </span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="task-sub">
                    <div class="task-sub-header">
                        <div class="task-sub-img">
                            <img src="../../assets/images/task_pic.png" alt="">
                        </div>
                    </div>
                    <div class="task-sub-content-container">
                        <div class="sub-title">
                            <a href="task-detail.html">COMOS尽调报告170917COMOS尽调报告170917COMOS尽调报告170917COMOS尽调报告170917</a>
                        </div>
                        <div class="sub-outline">
                            <div class="avator">
                                <img src="../../assets/images/task_sub_avatar.png" alt="">
                            </div>
                            <div class="sub-content">
                                <div class="sub-content-title">
                                    <span>李梦青</span>
                                    <span>1500 DRC</span>
                                </div>
                                <div class="sub-content-text">
                                    领导开发的类似操作系统的区块链构架平台，实现分布应用的性能扩展领导开发的类似操作系统的区块链构架平台，实现分布应用的性能扩展
                                    领导开发的类似操作系统的区块链构架平台，实现分布应用的性能扩展
                                </div>
                            </div>
                        </div>
                        <div class="sub-footer">
                            <div class="process-bar-wrap">
                                <div class="precess-bar process-green"></div>
                            </div>
                            <div class="process-text">
                                <span>
                                    <strong>80%</strong>
                                    <span>任务认领</span>
                                </span>
                                <span>
                                    <strong>15</strong>
                                    <span>认领人数</span>
                                </span>
                                <span>
                                    <img src="../../assets/images/watch.png" alt="">
                                    <strong>2017.08.26</strong>
                                </span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <!--底部页码-->
        <div class="page">
            <div class="page-left">共1203条数据，<span>1</span>/100页</div>
            <div class="page-right">
                <span>第一页</span>
                <span>上一页</span>
                <span class="page-active">1</span>
                <span>2</span>
                <span>3</span>
                <span>下一页</span>
                <span>最后页</span>
            </div>
        </div>
    </div>
</body>
</html>