<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.e3expo.e3.middleware.mapper.RfpMapper">
	<select id="selectTotalSavedRfpCount" resultType="int">
		SELECT
		count(*)
		FROM
		te_rfp AS a
		LEFT JOIN te_rfp_detail AS b ON a.id = b.rfp_id
		WHERE a.user_id = #{userId} AND a.status in
		<foreach collection="statusSet" item="val" separator="," open="(" close=")">
			#{val}
		</foreach>
		AND a.is_valid = 1
	</select>

	<select id="pageQueryRfpByStatus" resultType="webAppRfpView">
		SELECT
		a.rfp_no,
		a.company_name,
		a.exhibitor_name,
		b.relative_logo_path,
		b.rfp_id,
		a.exhibition_name
		FROM
		te_rfp AS a
		LEFT JOIN te_rfp_detail AS b ON a.id = b.rfp_id
		WHERE a.user_id = #{userId} AND a.status in
		<foreach collection="statusSet" item="val" separator="," open="(" close=")">
			#{val}
		</foreach>
		AND a.is_valid = 1
		LIMIT #{page.beginIndex}, #{page.pageSize}
	</select>
	<!--查询Rfp草稿-->
	<select id="getRfpDraftById" resultType="webAppRfpView">
		SELECT
		b.id AS rfp_detail_id,
		b.rfp_id,
		b.`open`,
		b.special_demand,
		b.structure,
		b.structure_remark,
		b.material,
		b.main_color,
		b.sub_color,
		b.color_remark,
		b.relative_logo_path,
		b.special_demand_and_warnings,
		b.reference_ci_standard_path,
		b.reference_poster_path,
		b.reference_history_graph_path,
		b.reference_other_file_path,
		b.reception_area_num,
		b.product_area_num,
		b.talk_desk_num,
		b.talk_chair_num,
		b.talk_remark,
		b.seal,
		b.electronics_led_num,
		b.electronics_ipad_num,
		b.electronics_remark,
		b.other_equipment,
		b.other_equipment_remark,
		b.poster_num,
		b.storage_area_num,
		b.storage_area_length,
		b.storage_area_width,
		b.storage_area_remark,
		b.activity_area_num,
		b.activity_area_length,
		b.activity_area_width,
		b.activity_area_remark,
		b.exhibition_goal,
		b.exhibition_goal_remark,
		b.exhibition_audience,
		b.exhibition_audience_remark,
		b.product_description,
		b.rival,
		b.slogan,
		b.design_concept_advice,
		a.rfp_no,
		a.company_name,
		a.linkman_name,
		a.linkman_phone,
		a.linkman_email,
		a.exhibitor_name,
		a.company_website,
		a.exhibition_name,
		a.exhibition_city,
		a.exhibition_hall,
		a.booth_no,
		a.exhibition_floor_plan_path,
		a.booth_width,
		a.booth_length,
		a.booth_limit_height,
		a.budget,
		a.create_time,
		a.update_time,
		a.`status`,
		a.user_id,
		a.is_valid,
		a.design_deadline,
		a.working_drawing_deadline
		FROM
		te_rfp AS a
		LEFT JOIN te_rfp_detail AS b ON a.id = b.rfp_id
		WHERE
		a.id = #{rfpId}
	</select>

	<!-- 获取rfp及其详情 -->
	<resultMap type="webAppRfpView" id="WebAppRfpViewMap" autoMapping="true">
		<id property="id" column="rfp_id" />
		<association property="rfpDetail" javaType="rfpDetail" autoMapping="true">
			<id column="rfp_detail_id" property="id" />
		</association>
	</resultMap>


	<resultMap id="BaseResultMap" type="com.e3expo.e3.model.Rfp">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="rfp_no" property="rfpNo" jdbcType="VARCHAR" />
		<result column="company_name" property="companyName" jdbcType="VARCHAR" />
		<result column="link_men" property="linkMen" jdbcType="VARCHAR" />
		<result column="link_phone" property="linkPhone" jdbcType="VARCHAR" />
		<result column="exhibitor_name" property="exhibitorName"
			jdbcType="VARCHAR" />
		<result column="company_website" property="companyWebsite"
			jdbcType="VARCHAR" />
		<result column="exhibition_name" property="exhibitionName"
			jdbcType="VARCHAR" />
		<result column="exhibition_city" property="exhibitionCity"
			jdbcType="VARCHAR" />
		<result column="exhibition_hall" property="exhibitionHall"
			jdbcType="VARCHAR" />
		<result column="booth_no" property="boothNo" jdbcType="VARCHAR" />
		<result column="booth_width" property="boothWidth" jdbcType="REAL" />
		<result column="booth_length" property="boothLength" jdbcType="REAL" />
		<result column="open" property="open" jdbcType="INTEGER" />
		<result column="structure" property="structure" jdbcType="INTEGER" />
		<result column="hanging_point" property="hangingPoint"
			jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="BIGINT" />
		<result column="update_time" property="updateTime" jdbcType="BIGINT" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="user_id" property="userId" jdbcType="INTEGER" />
		<result column="wish_finish_time" property="wishFinishTime"
			jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Tue Nov 07 
			16:26:13 CST 2017. -->
		id, rfp_no, company_name, link_men, link_phone, exhibitor_name,
		company_website,
		exhibition_name, exhibition_city, exhibition_hall,
		booth_no, booth_width,
		booth_length,
		open, structure, hanging_point,
		create_time, update_time, status, user_id,
		wish_finish_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Tue Nov 07 
			16:26:13 CST 2017. -->
		select *
		from te_rfp
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Tue Nov 07 
			16:26:13 CST 2017. -->
		delete from te_rfp
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		INSERT
		INTO te_rfp (
		rfp_no, company_name, linkman_name, linkman_phone,
		linkman_email,
		exhibitor_name, company_website, exhibition_name,
		exhibition_city,
		exhibition_hall,
		booth_no, exhibition_floor_plan_path,
		booth_width, booth_length,
		booth_limit_height,
		budget, create_time,
		update_time, status, user_id
		)
		VALUES
		(
		#{rfpNo},#{companyName},#{linkmanName}, #{linkmanPhone},
		#{linkmanEmail},
		#{exhibitorName},#{companyWebsite},#{exhibitionName},#{exhibitionCity},#{exhibitionHall},
		#{boothNo}, #{exhibitionFloorPlanPath}, #{boothWidth}, #{boothLength},
		#{boothLimitHeight},
		#{budget},#{createTime}, #{updateTime}, #{status},
		#{userId}
		);


	</insert>
	<insert id="insertSelective" parameterType="com.e3expo.e3.model.Rfp">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Tue Nov 07 
			16:26:13 CST 2017. -->
		insert into te_rfp
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="rfpNo != null">
				rfp_no,
			</if>
			<if test="companyName != null">
				company_name,
			</if>
			<if test="linkMen != null">
				link_men,
			</if>
			<if test="linkPhone != null">
				link_phone,
			</if>
			<if test="exhibitorName != null">
				exhibitor_name,
			</if>
			<if test="companyWebsite != null">
				company_website,
			</if>
			<if test="exhibitionName != null">
				exhibition_name,
			</if>
			<if test="exhibitionCity != null">
				exhibition_city,
			</if>
			<if test="exhibitionHall != null">
				exhibition_hall,
			</if>
			<if test="boothNo != null">
				booth_no,
			</if>
			<if test="boothWidth != null">
				booth_width,
			</if>
			<if test="boothLength != null">
				booth_length,
			</if>
			<if test="open != null">
				open,
			</if>
			<if test="structure != null">
				structure,
			</if>
			<if test="hangingPoint != null">
				hanging_point,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="wishFinishTime != null">
				wish_finish_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="rfpNo != null">
				#{rfpNo,jdbcType=VARCHAR},
			</if>
			<if test="companyName != null">
				#{companyName,jdbcType=VARCHAR},
			</if>
			<if test="linkMen != null">
				#{linkMen,jdbcType=VARCHAR},
			</if>
			<if test="linkPhone != null">
				#{linkPhone,jdbcType=VARCHAR},
			</if>
			<if test="exhibitorName != null">
				#{exhibitorName,jdbcType=VARCHAR},
			</if>
			<if test="companyWebsite != null">
				#{companyWebsite,jdbcType=VARCHAR},
			</if>
			<if test="exhibitionName != null">
				#{exhibitionName,jdbcType=VARCHAR},
			</if>
			<if test="exhibitionCity != null">
				#{exhibitionCity,jdbcType=VARCHAR},
			</if>
			<if test="exhibitionHall != null">
				#{exhibitionHall,jdbcType=VARCHAR},
			</if>
			<if test="boothNo != null">
				#{boothNo,jdbcType=VARCHAR},
			</if>
			<if test="boothWidth != null">
				#{boothWidth,jdbcType=REAL},
			</if>
			<if test="boothLength != null">
				#{boothLength,jdbcType=REAL},
			</if>
			<if test="open != null">
				#{open,jdbcType=INTEGER},
			</if>
			<if test="structure != null">
				#{structure,jdbcType=INTEGER},
			</if>
			<if test="hangingPoint != null">
				#{hangingPoint,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=BIGINT},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=BIGINT},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="wishFinishTime != null">
				#{wishFinishTime,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.e3expo.e3.model.Rfp">

		update te_rfp
		<set>
			<if test="rfpNo != null">
				rfp_no = #{rfpNo,jdbcType=VARCHAR},
			</if>
			<if test="companyName != null">
				company_name = #{companyName,jdbcType=VARCHAR},
			</if>
			<if test="linkmanName != null">
				linkman_name = #{linkmanName,jdbcType=VARCHAR},
			</if>
			<if test="linkmanPhone != null">
				linkman_phone = #{linkmanPhone,jdbcType=VARCHAR},
			</if>
			<if test="linkmanEmail != null">
				linkman_email = #{linkmanEmail,jdbcType=VARCHAR},
			</if>
			<if test="exhibitorName != null">
				exhibitor_name = #{exhibitorName,jdbcType=VARCHAR},
			</if>
			<if test="companyWebsite != null">
				company_website = #{companyWebsite,jdbcType=VARCHAR},
			</if>
			<if test="exhibitionName != null">
				exhibition_name = #{exhibitionName,jdbcType=VARCHAR},
			</if>
			<if test="exhibitionCity != null">
				exhibition_city = #{exhibitionCity,jdbcType=VARCHAR},
			</if>
			<if test="exhibitionHall != null">
				exhibition_hall = #{exhibitionHall,jdbcType=VARCHAR},
			</if>
			<if test="boothNo != null">
				booth_no = #{boothNo,jdbcType=VARCHAR},
			</if>
			<if test="boothWidth != null">
				booth_width = #{boothWidth,jdbcType=REAL},
			</if>
			<if test="boothLength != null">
				booth_length = #{boothLength,jdbcType=REAL},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=BIGINT},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=BIGINT},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="userId != null">
				user_id = #{userId,jdbcType=INTEGER},
			</if>
			<if test="wishFinishTime != null">
				wish_finish_time = #{wishFinishTime,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<!-- 获取rfp及其详情 -->
	<resultMap type="rfpView" id="RfpViewMap">
		<id property="id" column="rfpId" />
		<result column="rfp_no" property="rfpNo" />
		<result column="company_name" property="companyName" />
		<result column="link_men" property="linkMen" />
		<result column="link_phone" property="linkPhone" />
		<result column="exhibitor_name" property="exhibitorName" />
		<result column="company_website" property="companyWebsite" />
		<result column="exhibition_name" property="exhibitionName" />
		<result column="exhibition_city" property="exhibitionCity" />
		<result column="exhibition_hall" property="exhibitionHall" />
		<result column="booth_no" property="boothNo" />
		<result column="booth_width" property="boothWidth" />
		<result column="booth_length" property="boothLength" />
		<!-- <result column="open" property="open" /> -->
		<!-- <result column="structure" property="structure" /> -->
		<result column="hanging_point" property="hangingPoint" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="status" property="status" />
		<result column="user_id" property="userId" />
		<result column="wish_finish_time" property="wishFinishTime" />
		<association property="rfpDetail" javaType="rfpDetail">
			<id column="rfpDetailId" property="id" />
			<result column="rfp_id" property="rfpId" />
			<result column="open" property="open" />
			<result column="special_demand" property="specialDemand" />
			<result column="structure" property="structure" />
			<result column="structure_remark" property="structureRemark" />
			<result column="material" property="material" />
			<result column="main_color" property="mainColor" />
			<result column="sub_color" property="subColor" />
			<result column="color_remark" property="colorRemark" />
			<result column="relative_logo_path" property="relativeLogoPath" />
			<result column="special_demand_and_warnings" property="specialDemandAndWarnings" />
			<result column="reference_ci_standard_path" property="referenceCiStandardPath" />
			<result column="reference_poster_path" property="referencePosterPath" />
			<result column="reference_history_graph_path" property="referenceHistoryGraphPath" />
			<result column="reference_other_file_path" property="referenceOtherFilePath" />
			<result column="reception_area_num" property="receptionAreaNum" />
			<result column="product_area_num" property="productAreaNum" />
			<result column="talk_desk_num" property="talkDeskNum" />
			<result column="talk_chair_num" property="talkChairNum" />
			<result column="talk_remark" property="talkRemark" />
			<result column="seal" property="seal" />
			<result column="electronics_led_num" property="electronicsLedNum" />
			<result column="electronics_ipad_num" property="electronicsIpadNum" />
			<result column="electronics_remark" property="electronicsRemark" />
			<result column="other_equipment" property="otherEquipment" />
			<result column="other_equipment_remark" property="otherEquipmentRemark" />
			<result column="poster_num" property="posterNum" />
			<result column="storage_area_num" property="storageAreaNum" />
			<result column="storage_area_length" property="storageAreaLength" />
			<result column="storage_area_width" property="storageAreaWidth" />
			<result column="storage_area_remark" property="storageAreaRemark" />
			<result column="activity_area_num" property="activityAreaNum" />
			<result column="activity_area_length" property="activityAreaLength" />
			<result column="activity_area_width" property="activityAreaWidth" />
			<result column="activity_area_remark" property="activityAreaRemark" />
			<result column="exhibition_goal" property="exhibitionGoal" />
			<result column="exhibition_goal_remark" property="exhibitionGoalRemark" />
			<result column="exhibition_audience" property="exhibitionAudience" />
			<result column="exhibition_audience_remark" property="exhibitionAudienceRemark" />
			<result column="product_description" property="productDescription" />
			<result column="rival" property="rival" />
			<result column="slogan" property="slogan" />
			<result column="design_concept_advice" property="designConceptAdvice" />
		</association>
	</resultMap>
	<select id="getRfpAndDetail" resultMap="RfpViewMap" parameterType="java.lang.Integer">
		SELECT
		a1.id AS rfpId,
		a2.id AS rfpDetailId,
		a1.*, a2.*
		FROM
		te_rfp a1
		INNER JOIN te_rfp_detail a2 ON a1.id = a2.rfp_id
		INNER JOIN te_order a3 ON a1.id = a3.rfp_id
		WHERE
		a3.id = #{orderId}
	</select>

</mapper>